* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    text-align: center;    
}

main{
    background-color:  rgba(226, 153, 26, 1);
}

.ft51-amarelo-introdu{
    height: 899px;
}

.ft51-branco-introdu{
    background-color: rgba(255,255,255, 1);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 260px 0 0 260px;
}

.ft51-amarelo-projetos{
    background-color: rgba(226, 153, 26, 1);
    border-radius: 0 240px 220px 0;
    padding-top: 50px;
    height: 980px;
    box-shadow: 100px 0px 81px -50px rgba(226, 153, 26, 1);
}
.ft51-branco-requisitos{
    height: 980px;
    background-color: rgba(255, 255, 255,1);
    border-radius: 260px 0 260px 0;
}

.ft51-amarelo-requisitos{
    height: 980px;
    background-color: rgba(226, 153, 26, 1);
    
}
.ft51-branco-gradec{
    height: 980px;
    background-color:rgba(255, 255, 255,1);
     
}
.ft51-amarelo-gradec{
    height: 2000px;
    background-color:rgba(226, 153, 26, 1);
    border-radius: 260px 0 0 0;
    box-shadow: -100px -60px 60px -92px rgba(226, 153, 26, 1);
}

/* CARROSEL */

span {
    font-size: x-large;
}
  
img {
    box-shadow: 0 1px 2px #0003;
    width: 100%;
}
  
@media (max-width: 450px) { 
    .swiper {
      height: 270px;
    }
}
  
.swiper-button-prev, .swiper-button-next {
    color: black; 
    border-radius: 50%;
    background-color: #fff;
    width: 60px;
    height: 60px; 
    font-size: 12px;
  
}
  
.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 30px;
}
  
.swiper-slide{
    background-color: rgba(102, 30, 159, 1);
}

@media only screen and (max-width: 480px) { 
    img {
      width: 100%;
    }
}

.swiper {
    height: 500px;
    position: relative;
    top: 25%;
}

.swiper-slide {
    text-align:justify; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.description{
    font-size: 25px;
    color:aliceblue;
    overflow: hidden;
    margin: 4rem;
    
    text-overflow: ellipsis;   
    display: -webkit-box;  
    -webkit-line-clamp: 8;  
    -webkit-box-orient: vertical;
    line-height: 40px;
}

.card-image{
    max-width: 40%;
    height: auto;
    width: 300rem;
    margin: 1rem;
}

.card-img{
    border-radius: 5px;
}

.swiper-slide{
    padding: 90px;
    width: 100%;
    height: 100%;
}

.position {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* RODAPÈ */

footer.rodape-preto {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    left: 0;
    right: 0;
    bottom: 0;

    position: absolute;
    top: 487%;
}

.rodape-preto img {
    width: 400px;
    height: auto;
}