

body{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden auto;
}

nav {
    align-items: center;
    justify-content: center;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid black;
    height: 80px;
    background-color: white;
    z-index: 1;
}

nav img {
    height: 50px;
    margin-right: 200px;
    margin-left: 60px;
}

nav #menuPages {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    padding: none;
    margin: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    margin-left: 40px;
    margin-right: 40px;
    text-decoration: none;
    color: rgba(0, 0, 0, .7);
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Montserrat', 'Verdana', 'Geneva', sans-serif;
}


nav li:nth-child(5) a, li:nth-child(6) a{
    width: 183px;
}

nav a#logo {
    margin: 0;
}

nav li #admButton {
    background-color: rgb(254, 185, 105, 75);
    border-radius: 40px;
    height: 40px;
    width: 120px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 100px;
}

nav ul#menuFabricas {
    height: fit-content;
    position: absolute;
    top: 81px;
    left: 568px;
    background-color: white;
    padding: 0;
    margin: 0;
    width: 340px;
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 15px;
    justify-content: center;
    visibility: hidden;
    z-index: -1;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    transition: all 2ms ease-out;
}

nav ul #menuFabricas li {
    list-style-type: none;
    margin-top: 15px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: left;
}

nav ul#menuFabricas a {
    text-decoration: none;
    color: black; 
    height: 0px;
    font-size: 14px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.8);
}


nav ul#menuFabricas a#Fs:hover {
    color: rgba(43, 20, 99, 1);
}

nav ul#menuFabricas a#Fj:hover {
    color: rgba(139, 26, 26, 1);
}

nav ul#menuFabricas a#Fcg:hover {
    color: rgba(226, 153, 26, 1);
}

nav ul#menuFabricas a#Fav:hover {
    color: rgba(66, 176, 48, 1);
}

nav li:hover a#menuFabricasBtn {
    height: 80px;
}

nav li:hover ul#menuFabricas {
    visibility: visible;
}



/* aqui faz parte do corpo do site de cadastro de vagas*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-grad-title);
}


.titulo-vagas h1{
    font-size: 56px;
    position: relative;
    top :100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 78px;
}

.titulo-vagas p{
    font-size:27px ;
    position: relative;
    top: 78px;
    text-align: center;
}



.sombra-roxa{
    box-shadow: 92px 76px 129px 21px rgba(45, 0, 148, 1);
    left: -229px;
    height: 350px;/* comprimento da sombra(largura-altura)*/
    width: 156px;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
} 


.sombra-rosa{
   
    position:absolute;
    top: 50%;
    left: 100%;
    height: 320px;
    width: 320px;
    transform: translate(-50%, -50%);
    filter: blur(125px);
    opacity: 40%;
    background-color: #AA15C2;
    z-index: -1;
}

.quadrado-roxo{
    background-color: rgb(40,19,88,1);
    width: 1700px;/* largura do quadrado roxo*/
    height: 2500px;
    position: relative;/**/
    top:5px; /*altura do quadrado roxo*/
    border-radius: 20px;
}


.titulo-dados-empresa h1{
    font-size: 40px;
    position: relative;
    top: 100px;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 280px;
}



/*INPUTS*/
.nome-empresa input{
    height: 60px; /* altura dos inputs*/
    width: 545px; 
    padding: 40px;
    position: relative;
    border-radius: 19px;
    left:4.8rem; /*ELE DEIXA MEXE NA DIREÇÃO DO INPUT*/
    top:-24px; /* ELE MEXE NA ALTURA DO INPUT*/
    font-size: 18px;
    
}


.input-cnpj input{
   height: 60px; /* altura dos inputs*/
   width: 545px;
   padding: 40px;
   position: relative;
   /* margin: 130px; */
   border-radius: 19px;
   left:4.8rem; /*ELE DEIXA MEXE NA DIREÇÃO DO INPUT*/
   top:2rem; /* ELE MEXE NA ALTURA DO INPUT*/
   font-size: 18px;

}

.input-telefone input{
    height: 60px; /* altura dos inputs*/
    width: 545px;
    padding: 40px;
    position: relative;
    /* margin: 130px; */
    border-radius: 19px;
    left:4.8rem; /*ELE DEIXA MEXE NA DIREÇÃO DO INPUT*/
    top:6rem; /* ELE MEXE NA ALTURA DO INPUT*/
    font-size: 18px;
}


.input-email input{
    height: 60px; /* altura dos inputs*/
    width: 545px;
    padding: 40px;
    position: relative;
    border-radius: 19px;
    left:67rem; /*ELE DEIXA MEXE NA DIREÇÃO DO INPUT*/
    top:-284px; /* ELE MEXE NA ALTURA DO INPUT*/
    font-size: 18px;
}

.input-cidade input{
    height: 60px; /* altura dos inputs*/
    width: 545px;
    padding: 40px;
    position: relative;
    border-radius: 19px;
    left:67rem;; /*ELE DEIXA MEXE NA DIREÇÃO DO INPUT*/
    top:-224px; /* ELE MEXE NA ALTURA DO INPUT*/
    font-size: 18px;
}


.input-estado input{
    height: 60px; /* altura dos inputs*/
    width: 545px;
    padding: 40px;
    position: relative;
    /* margin: 130px; */
    border-radius: 19px;
    left:67rem;; /*ELE DEIXA MEXE NA DIREÇÃO DO INPUT*/
    top:-155px; /* ELE MEXE NA ALTURA DO INPUT*/
    font-size: 18px;


    
}



.titulo-sobre-vaga h2{
    font-size: 40px;
    /* position: relative; /* ele estava deixando a pagina com o negócio de arrastar pro lado.*/
    color: white;
    left: 89px;
    margin-left: 700px;/*esquerda do texto*/
    margin-right: 120px;/* direita texto*/
    text-align: justify;
    align-items: center;
    justify-content: center;
   
}

.titulo-sobre-vaga p{
    font-size:27px ;
    position: relative;
    color: white;
    top: 60px;
    margin-left: 100px;/*esquerda do texto*/
    margin-right: 120px;/* direita texto*/
    text-align: justify;
    align-items: center;
    justify-content: center;
}



.campo-texto-descricao textarea{
    height: 760px; /* altura dos inputs*/
    width: 1540px;/*1540px*/
    padding: 40px;
    position: relative;
    border-radius: 19px;
    left:78px; /*ELE DEIXA MEXE NA DIREÇÃO DO INPUT*/
    top:200px; /* ELE MEXE NA ALTURA DO INPUT*/
    padding-bottom: 679px;
    font-size: 27px;

    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.button-enviar button{
    padding: 20px;
    width: 344px;
    height: 80px;
    border-radius: 17px;
    position: relative;
    top: 400px;
    left: 650px;
    background-color: rgb(40,19,88,1);
    border: 3px double  #3B96EB;
    font-size: 27px;
    color : #3B96EB;
}

.rodape-preto {
    text-align: center;
    padding-bottom: 10px;
    position: absolute;
    left: 0;
    right: 0;
    top: 200rem;/* aqui mexe na distancia(altura) do rodapé*/
}

.rodape-preto img  {
    width: 700px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
}



main{
max-height: 1200px ;
}