@charset "UTF-8";

body, html {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sombra-rosa{
  box-shadow: 92px 76px 129px 21px rgba(170, 21, 194, 1);
  left: -229px;
  height: 350px;/* comprimento da sombra(largura-altura)*/
  width: 156px;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  filter: blur(150px) contrast(150%);
} 

.sombra-roxa{
  box-shadow: 100px 4px 100px 100px rgba(45, 0, 148, 1);
  left: 1860px;
  height: 100px;/* comprimento da sombra(largura-altura)*/
  top:500px;
  position: absolute;
  z-index: -1;
  border-radius: 90%;
  filter: blur(150px) contrast(150%);
}

nav {
    align-items: center;
    justify-content: center;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid black;
    height: 80px;
    background-color: white;
    z-index: 999;
} 

nav img {
    height: 50px;
    margin-right: 200px;
    margin-left: 60px;
}

nav #menuPages {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    padding: none;
    margin: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    margin-left: 40px;
    margin-right: 40px;
    text-decoration: none;
    color: rgba(0, 0, 0, .7);
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Montserrat', 'Verdana', 'Geneva', sans-serif;
}

nav li:nth-child(5) a, li:nth-child(6) a{
    width: 183px;
}

nav a#logo {
    margin: 0;
}

nav li #admButton {
    background-color: rgb(254, 185, 105, 75);
    border-radius: 40px;
    height: 40px;
    width: 120px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 100px;
}

nav ul#menuFabricas {
    height: fit-content;
    position: absolute;
    top: 81px;
    left: 568px;
    background-color: white;
    padding: 0;
    margin: 0;
    width: 340px;
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 15px;
    justify-content: center;
    visibility: hidden;
    z-index: -1;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    transition: all 2ms ease-out;
}

nav ul #menuFabricas li {
    list-style-type: none;
    margin-top: 15px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: left;
}

nav ul#menuFabricas a {
    text-decoration: none;
    color: black; 
    height: 0px;
    font-size: 14px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.8);
}

nav ul#menuFabricas a#Fs:hover {
    color: rgba(43, 20, 99, 1);
}

nav ul#menuFabricas a#Fj:hover {
    color: rgba(139, 26, 26, 1);
}

nav ul#menuFabricas a#Fcg:hover {
    color: rgba(226, 153, 26, 1);
}

nav ul#menuFabricas a#Fav:hover {
    color: rgba(66, 176, 48, 1);
}

nav li:hover a#menuFabricasBtn {
    height: 80px;
}

nav li:hover ul#menuFabricas {
    visibility: visible;
}

.borda_roxa{
overflow: hidden;
}

.borda_roxa,
.borda_roxar * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.titulo_edital{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 56px;
  position: relative;
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 2%;
  height:auto;
  text-align: justify;
  font-size: 27px;
}
.titulo_edital h1 {
  text-align: center;
  line-height: 15rem;
  font-size: 56px;
  font-weight: 800;
  margin-bottom: 10px;
  z-index: 104;
}
.titulo_edital p{
  text-align: center;
  margin: 10px;
  font-size: 27px;
  margin-bottom: 5%;
}
.borda_roxa {
  position: relative;
  width: 1268px;
  height: 958px;
  margin: 10px 0 0 86px;
  background: #2b1463;
  z-index: 25;
  overflow: visible auto;
  border-radius: 20px;
  box-shadow: 10px 10px 4px 0 rgba(0, 0, 0, 0.25);
}
.sombra {
  position: relative;
  width: 1209px;
  height: 65px;
  margin: 10px 0 0 27.092px;
  background: #ffffff;
  z-index: 99;
  border-radius: 15px;
}
.edital_do_aluno {
  margin-bottom: 0;
}
.edital_do_aluno h1{
  text-align: center;
  line-height: 15rem;
  font-size: 56;
}
.inscricoes {
  position: absolute;
  width: 207px;
  height: 33px;
  top: 17px;
  left: 10px;
  background: #68da55;
  z-index: 102;
  border-radius: 10px;
} 
.text_inscricoes {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 6px;
  left: 2px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 103;
}
.sobre_curso-1{
  position: absolute;
  width: 666px;
  height: 18px;
  top: 23px;
  left: 253px;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 100;
}
.sobre_curso-1 .text1 {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 21.784px;
  text-align: left;
}
.sobre_curso-1 .text2 {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 21.784px;
  text-align: left;
}
.sobre_curso-1 .text3 {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 21.784px;
  text-align: left;
}
.sombra2 {
  position: relative;
  width: 1209px;
  height: 65px;
  margin: 10px 0 0 27.092px;
  background: #ffffff;
  z-index: 99;
  border-radius: 15px;
}
.inscricoes2 {
  position: absolute;
  width: 207px;
  height: 33px;
  top: 17px;
  left: 10px;
  background: #68da55;
  z-index: 102;
  border-radius: 10px;
} 
.inscricoes2 .text-1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 6px;
  left: 2px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 103;
}
.sobre_curso-2{
  position: absolute;
  width: 666px;
  height: 18px;
  top: 23px;
  left: 253px;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 100;
}
.sobre_curso-2 .text-1 {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 21.784px;
  text-align: left;
}
.sobre_curso-2 .text-2 {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 21.784px;
  text-align: left;
}
.sobre_curso-2 .text-3{
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 21.784px;
  text-align: left;
}
footer.rodape-preto-edital {
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  top: 185%;
}

.rodape-preto-edital img {
  width: 400px;
  height: auto;
  box-shadow: inset 0 0 0 3px  rgba(255, 255, 255, 1);
}
