body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
  }
  
  body {
    color: white;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: white; 
    background-size: cover;
    background-position: center;
  }
  
  header {
    background-color: rgba(0, 0, 0, 0.945); 
    color: #fff;
    padding: 20px 0;
    box-shadow: 0 4px 2px rgb(0, 0, 0);
  }
  
  article {
    color: black;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: rgba(250, 250, 250, 0.959);
    padding: 10px;
    box-shadow: 0px 3px 3px black;
  }
  
  main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
  }
  
  .titulos {
    color: black;
    text-align: center;
    background-position: center; 
    background-position-x: 20px;
    margin-left: 405px;
    margin-right: 405px;
    height: 40px;
  }
  
  .bemvindo {
    color: black;
    font-size: large;
    margin-left: 405px;
    margin-right: 405px;
    height: 80px;
  }
  
  .inicio {
    text-align: center;
    padding: 100px 0;
    background-position: center; 
    background-position-x: 20px;
    color: black;
  }
  
  .editais{
    margin-top: 40px;
    background-color: blue;
    padding: 20px;
    border-radius: 5px;
  }
  
  footer {
    text-align: center;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.5); 
    color: #fff;
  }

  .edital a {
    color: white;
    background-color: green;
  }