* {
    margin: 0;
    padding: 0;
}


body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    align-items: center;
    justify-content: center;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid black;
    height: 80px;
    background-color: white;
    z-index: 1;
}

nav img {
    height: 50px;
    margin-right: 200px;
    margin-left: 60px;
}

nav #menuPages {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    padding: none;
    margin: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    margin-left: 40px;
    margin-right: 40px;
    text-decoration: none;
    color: rgba(0, 0, 0, .7);
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Montserrat', 'Verdana', 'Geneva', sans-serif;
}


nav li:nth-child(5) a, li:nth-child(6) a{
    width: 183px;
}

nav a#logo {
    margin: 0;
}

nav li #admButton {
    background-color: rgb(254, 185, 105, 75);
    border-radius: 40px;
    height: 40px;
    width: 120px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 100px;
}

nav ul#menuFabricas {
    height: fit-content;
    position: absolute;
    top: 81px;
    left: 568px;
    background-color: white;
    padding: 0;
    margin: 0;
    width: 340px;
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 15px;
    justify-content: center;
    visibility: hidden;
    z-index: -1;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    transition: all 2ms ease-out;
}

nav ul #menuFabricas li {
    list-style-type: none;
    margin-top: 15px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: left;
}

nav ul#menuFabricas a {
    text-decoration: none;
    color: black; 
    height: 0px;
    font-size: 14px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.8);
}

nav ul#menuFabricas a#Fs:hover {
    color: rgba(43, 20, 99, 1);
}

nav ul#menuFabricas a#Fj:hover {
    color: rgba(139, 26, 26, 1);
}

nav ul#menuFabricas a#Fcg:hover {
    color: rgba(226, 153, 26, 1);
}

nav ul#menuFabricas a#Fav:hover {
    color: rgba(66, 176, 48, 1);
}

nav li:hover a#menuFabricasBtn {
    height: 80px;
}

nav li:hover ul#menuFabricas {
    visibility: visible;
}


main{
    background-color:  rgba(139, 26, 26, 1);
    margin-top: 80px;
}

.ft51-vermelho-introdu{
    height: 899px;
}

.ft51-branco-introdu{
    background-color: rgba(255,255,255, 1);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 260px 0 0 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ft51-branco-introdu h1 {
    font-size: 30px;
    font-family: 'Verdana', 'Geneva', sans-serif;
}

.ft51-branco-introdu p {
    font-size: 22px; 
    font-family: sans-serif;
    margin-top: 40px;
    text-align: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    line-height: 30px;
    word-spacing: 5px;
}

.edital-button {
    background-color: #8B1A1A;
    color: #FFFFFF;
    font-size: 18px;
    font-family: sans-serif;
    padding: 10px 60px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 60px;
}


.ft51-vermelho-projetos{
    background-color: rgba(139, 26, 26, 1);
    border-radius: 0 240px 220px 0;
    padding-top: 50px;
    height: 980px;
    box-shadow: 100px 0px 81px -50px rgba(212, 27, 27, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}


.ft51-branco-requisitos{
    height: 980px;
    background-color: rgba(255, 255, 255,1);
    border-radius: 260px 0 260px 0;
}

#effectRequests1 {
    height: auto;
    width: 160px;
    margin: 0;
    left: 0;
    position: absolute;
}

#effectRequests2 {
    height: auto;
    fill: aqua;
    width: 160px;
    margin: 0;
    margin-top: 907px;
    margin-left: 90%;
    position: absolute;
    z-index: 0;
    fill: rgba(139, 26, 26, 1);

}

#swordDecoration {
    height: auto;
    width: 200px;
    position: absolute;
    left: 70%;
    bottom: 0px;
}

.ft51-vermelho-requisitos{
    height: 980px;
    background-color: rgba(139, 26, 26, 1);
}

.ft51-branco-requisitos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.jogos-requisitos {
    position: relative;
    width: 1200px;
    text-align: center;
}

.jogos-requisitos h1{
    margin-bottom: 30px;
    font-size: 30px;
}

.jogos-requisitos p {
    text-align: justify;
    font-size: 20px;
    word-spacing: 5px;
    line-height: 30px;
}

#jogosIdadeConhecimento {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    text-align: left;
}

#jogosIdadeConhecimento h2{
    font-size: 22px;
}

#jogosIdadeConhecimento #idade {
    position: relative;
    margin-right: 15%;
}

#jogosIdadeConhecimento #idade ul {
    margin-left: 40px;
    font-size: 18px;
}

#jogosIdadeConhecimento #idade ul li {
    margin-top: 10px;
}

#jogosIdadeConhecimento #conhecimentos {
    margin-left: 15%;
    position: relative;
}

#jogosIdadeConhecimento #conhecimentos ul {
    margin-left: 40px;
    font-size: 18px
}

#jogosIdadeConhecimento #conhecimentos ul li {
    margin-top: 10px;
}

.ft51-branco-gradec{
    height: 980px;
    background-color:rgba(255, 255, 255,1);  
}
.ft51-vermelho-gradec{
    height: 2000px;
    background-color:rgba(139, 26, 26, 1);
    border-radius: 260px 0 0 0;
    box-shadow: -100px -60px 60px -92px rgba(212, 27, 27, 1);
}

#effectIntro1{
    height: auto;
    width: 160px;
    margin: 0;
    left: 0;
    position: absolute;
}

#effectIntro2{
    height: auto;
    fill: aqua;
    width: 160px;
    margin: 0;
    margin-top: 842px;
    margin-left: 86.5%;
    position: absolute;
}

footer.rodape-branco {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: transparent;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 524%;
}


.rodape-branco img  {
    width: 400px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
}