@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100&display=swap');

:root {
    --font-destaque: "Verdana", "Geneva", "Tahoma", sans-serif;
    --font-size-titulo: 56px;
    --font-size-subTitulo: 20px;
    --font-size-corpo: 27px;
    --font-size-legenda: 8px;
    --line-height: 40px;
    
    --font-color-pagdemanda-title-subtitle: #000;
    
    --background-color-demanda-cadastro: #281358;
    
    /*Fábrica de software*/
    --font-grad-title: Verdana, Geneva, Tahoma, sans-serif;
    
    --color-grad:rgba(43, 20, 99, 1);
    --color-grad-title:rgba(43, 20, 99, 1);
    
    --font-size-grad: 8.5px;
}

@media (max-width: 600px) {
    .container-title-outside-btn h2 {
        font-size: 10px;
        }
       
    .roxo-gradec-software h1 {
        font-size:21px;
    }

    .container-title-outside-btn,
    .container-title-outside-btn svg {
            width: 20;
            height: 20;
            font-size: 5px;
        }
    
    .container-grad-table table {
        font-size:8px;
    }
        
    .roxo-gradec-software {
    height: auto;
    background-color: rgba(43, 20, 99, 1);
    border-radius: 160px 0 0 0;
    box-shadow: -100px -60px 60px -92px rgba(45, 0, 148, 1);
    }
}


.roxo-introdu-software {
    height: 899px;
    margin-top: 79px;
    background-color: rgba(43, 20, 99, 1);
}
.branco-gradec-software{
    height: auto;
    background-color:rgb(255, 255, 255, 1);
    
    
}
.roxo-gradec-software{
    height: auto;
    background-color: rgba(43, 20, 99, 1);
    border-radius: 260px 0 0 0;
    box-shadow: -100px -60px 60px -92px rgba(45, 0, 148, 1);
}

.grade-curricular {
    margin: 90px 0px 90px 0px;
    color: white;
    width: auto;
}

.container-title-grad {
    margin: 0 160px;
    padding: 10px 0 10px;
}
.container-title-grad h1 {
    text-align: center;
}

.container-title-outside {
    display: flex;
    font-weight: bold;
    background-color: var(--color-grad-title);
    
    color: white;
    padding: 20px 0px;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    cursor: pointer;

}

.container-title-outside-btn {
    display: flex;
    font-weight: bold;
    background-color: var(--color-grad-title);
    font-size: 13px;
    color: white;
    padding: 20px 10px;
    border: 1px solid transparent;
    text-align: center;
    align-items: center;
    cursor: pointer;

}


.container-grad-table table {
    width: 100%;
    border-radius: 10px;
    border-collapse: collapse;
    border-radius: 20px;
    overflow: hidden;

}

.container-grad-table th,
td {
    padding: 20px;
    border: 1px solid rgb(0, 0, 0);
}
tr:nth-child(2n) {
    background-color: #D9D9D9;
}
tr:nth-child(1) {
    background-color: #ffffff;
}
tr:nth-child(3) {
    background-color: #ffffff;
}
tr:nth-child(5) {
    background-color: #ffffff;
}

.container-title-outside {
    text-align: center;
}