body, html {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: white;
}

nav {
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid black;
    height: 80px;
    font-family: 'Inter', sans-serif;
    background-color: transparent;
    z-index: 1;
}

nav img {
    margin-right: 150px;
    height: 50px;
}

nav a {
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;
    color: black;
}
nav #admButton {
    margin-left: 150px;
    background-color: rgb(254, 185, 105, 75);
    border-radius: 40px;
    height: 40px;
    width: 120px;
    align-items: center;
    justify-content: center;
    display: flex;
}

main {
    justify-content: center;
    align-items: center;
    width: 1200px;
    border: 1px solid black;
    top: 0;
}

main .home-inicio {
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    background: url("/img/homeBackImg.jpg");
    border-radius: 700px 0px;
    border: 0px none rgb(128, 128, 128);
    background-color: rgb(255, 255, 255);
}
main .home-inicio .container {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 1200px;
}

main .home-texto-fabrica {
    margin-top: 800px;
}