/*Apagar arquivo depois*/

/* RELATÓRIO DETALHADO do BANCO DE TALENTOS */ 

.body-relatorio-detalhado-banco-talentos{
    background-color: #FFFFFF;
}

.main-relatorio-detalhado-banco-talentos{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

#relatorio-detalhado-bt-label-azul{
    background-color: #0d6efd;
    color: #FFFFFF;
    font-size: 29px;
    padding: 15px;
    border-radius:5px;
}


.relatorio-detalhado-bt-titulo{
    text-align: center;
}

.relatorio-detalhado-bt-caixa-branca{
    margin-top:10rem;
}

#tabela-relatorio-detalhado-bt{
    padding: 20px;
    box-shadow: 3px 3px 3px 3px #D9D9D9;
    background-color: rgb(255, 255, 255);
}

.relatorio-detalhado-bt-caixa-branca, table{
    width:100%;
    table-layout:fixed;
}

.relatorio-detalhado-br-caixa-branca, th{
    background-color: #D9D9D9; 
    padding: 5px;
    font-size: 15px;
}

.relatorio-detalhado-br-caixa-branca, td{
    background-color: #FFFFFF;
    font-size:14px;
    overflow-wrap: break-word; 
    word-wrap: break-word;
    
}

.info-relatorio-detalhado-bt{
    padding-left: 30px;
}

.td-sobre-pessoa-relatorio-detalhado-bt{
    max-inline-size:150px;
    writing-mode: horizontal-tb;
}

#relatorio-detalhado-bt-btn{
    width: 100px;
    margin-top: 20px;
    border-radius: 10px;
}

#imagem-fundo-relatorio-detalhado-bt img{
    width: 300px;
    height: 300px;
    box-shadow: none;
    display: flex;
    margin-left:68%;
    position:absolute;
    margin-top:15%;
}

@media (max-width: 1910px){
    #imagem-fundo-relatorio-detalhado-bt img{
        display:none;
        box-shadow:none;
    }
}