body,html {
    margin: 0;
    padding: 0;
}

footer.rodape-preto {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: transparent;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.rodape-preto img  {
    width: 400px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
}

