body,html {
    margin: 0;
    padding: 0;
}

footer.rodape-branco {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: transparent;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    /*Retirar a cor de fundo quando for usar*/
    background: linear-gradient(90deg, rgba(43,20,99,1) 0%, rgba(139,26,26,1) 35%, rgba(226,153,26,1) 65%, rgba(66,176,18,1) 100%);
}


.rodape-branco img  {
    width: 400px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
}

