footer.home-fabricas {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: transparent;
}

.home-fabricas img  {
    width: 400px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
}

