h1{
    font-size: 27pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 p{
    font-size: 12pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

 }
 .projetos h2{
    font-size: 27pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 .projetos p{
    font-size: 12pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

 }
.requisitos{
    display:flex ;
    width: 940px;
    margin: 0 auto;
}
