/*Home*/
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100&display=swap');

:root {
    --font-destaque: "Verdana", "Geneva", "Tahoma", sans-serif;
    --font-size-titulo: 56px;
    --font-size-subTitulo: 20px;
    --font-size-corpo: 27px;
    --font-size-legenda: 8px;
    --line-height: 40px;
    
    --font-color-pag-title-subtitle: #000;
    
    --background-color-demanda-cadastro: #281358;
    
    /*Fábrica de software*/
    --font-grad-title: Verdana, Geneva, Tahoma, sans-serif;
    
    --color-grad:rgba(43, 20, 99, 1);
    --color-grad-title:rgba(43, 20, 99, 1);
    
    --font-size-grad: 8.5px;

    --button-color-demanda: #3B96EB;
}


/*Cabeçalho com bootstrap*/

header.cabecalhoGeral{
    z-index: 10;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.cabecalhoGeral {
    background-color: white;
}

.cabecalhoGeral a{
    font-family: 'Montserrat', 'Verdana', 'Geneva', sans-serif;
    font-weight: bold;
}

.drop-fabricas a{
    color: #000;
}

.cabecalhoGeral .navbar #hubFabricasLogo{
    box-shadow: none;
    height: 50px;
}

.cabecalhoGeral .bg-dropDown-header{
    background-color: rgb(248, 249, 250);
    font-family: 'Montserrat', 'Verdana', 'Geneva', sans-serif;
    font-weight: bold;
}

.cabecalhoGeral .navbar .loginADM {
    background-color: #feb969;
    border-radius: 5px;
}
.cabecalhoGeral .dropdown-menu li:nth-child(1) a:hover{
    color: rgba(43, 20, 99, 1);
}
.cabecalhoGeral .dropdown-menu li:nth-child(2) a:hover{
    color: rgba(139, 26, 26, 1);
}
.cabecalhoGeral .dropdown-menu li:nth-child(3) a:hover{
    color: rgba(226, 153, 26, 1);
}
.cabecalhoGeral .dropdown-menu li:nth-child(4) a:hover{
       color: rgba(66, 176, 48, 1);
}

.cabecalhoGeral .mt-3 {
    margin-top: 20px !important;
}

.cabecalhoGeral .dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .cabecalhoGeral .dropdown>.dropdown-toggle:active {
      pointer-events: none;
}


@media (max-width: 990px) {
    .cabecalhoGeral .navbar .loginADM {
        background-color: transparent;
        margin-left: 11px;
    }
    .cabecalhoGeral .mt-3 {
        margin-top: 0 !important;
    }

    .dropdown-menu {
        margin-top: 0;
    }

    .dropdown-toggle {
        margin-left: 6px;
    }
}


/*Fim do cabeçalho com bootstarp*/




body.home, html.home{
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: white; 
    background-size: cover;
    background-position: center;
    overflow: hidden auto;
}

article.home {
    margin-top: 2cm;
    color: black;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: white;
    padding: 15px;
}

main.home {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

nav.home {
    align-items: center;
    justify-content: center;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid black;
    height: 80px;
    background-color: white;
    z-index: 2;
}

nav.home img {
    height: 50px;
    margin-right: 150px;
    margin-left: 150px;
    box-shadow: none;
}

nav.home #menuPages {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

nav.home ul li {
    list-style-type: none;
    padding: none;
    margin: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.home a {
    margin-left: 47px;
    margin-right: 47px;
    text-decoration: none;
    color: rgba(0, 0, 0, .7);
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Montserrat', 'Verdana', 'Geneva', sans-serif;
}


nav.home li:nth-child(5) a, li:nth-child(6) a{
    width: 100%;
}

nav.home a#logo {
    margin: 0;
}

nav.home li #admButton {
    background-color: rgb(254, 185, 105, 75);
    border-radius: 40px;
    height: 40px;
    width: 120px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 100px;
}

nav.home ul#menuFabricas {
    position: absolute;
    top: 75px;
    left: 529px;
    background-color: white;
    padding: 0;
    margin: 0;
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 15px;
    justify-content: center;
    visibility: hidden;
    z-index: -1;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    transition: all 2ms ease-out;
    margin-top: 5px;
}

nav.home ul #menuFabricas li {
    list-style-type: none;
    padding: 0;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
}

nav.home ul#menuFabricas a {
    text-decoration: none;
    height: 0px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 3px;
}


nav.home ul#menuFabricas a#Fs:hover {
    color: rgba(43, 20, 99, 1);
}

nav.home ul#menuFabricas a#Fj:hover {
    color: rgba(139, 26, 26, 1);
}

nav.home ul#menuFabricas a#Fcg:hover {
    color: rgba(226, 153, 26, 1);
}

nav.home ul#menuFabricas a#Fav:hover {
    color: rgba(66, 176, 48, 1);
}

nav.home li:hover a#menuFabricasBtn {
    height: 80px;
}

nav.home li:hover ul#menuFabricas {
    visibility: visible;
}

.contanier-sobre-home {
    position: relative;
    background-image: url(../Imagens/fundo-sobre.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 850px;
    position: relative;
    top: 31px;
    box-shadow: 0px 3px 5px 0px black;
}

.container-blur-content-home {
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
    backdrop-filter: blur(7px);
    color: white;
    width: 100%;
    height: 100%;
}

.container-blur-content-white-home {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.148);
    backdrop-filter: blur(7px);
    width: 100%;
    height: 100%;
}

.sobre-home {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center; 
}

.content-sobre-home {
    position: relative;
    margin-left: 460px;
    margin-right: 460px;
}

.content-sobre-home h1{
    font-size: var(--font-size-titulo);
    padding-top: 90px;
}

.content-wrapper-home {
    display: flex;
    margin-top: 2%;
}

.content-wrapper-home p{
    width: 580px;
    height: 350px;
    max-width: 700px;
    padding-right: 50px;
    line-height: 40px;
    font-size: 18pt;
    text-align: justify;
}

.content-wrapper-home img{
    width: 500px;
    height: auto;
    margin-top: 15px;
}

.content-sobre-wrapper-home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wave-top-home {
    position: absolute;
    margin-left: -860px;
    height: 1200px;

}

.wave-top-home svg {
    transform: rotate(-40deg);
    height: 420px;
}

.wave-down-home {
    position: absolute;
    bottom: 0;
    right: 0;
    left: auto;
}

.complet-svg-home {
    height: 100%;
    background-color: white;
}

.wave-down-home svg {
    width: 100%;
    height: 110%;
}

.links-fabricas-home h1{
    font-size: 27pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.links-fabricas-home article{
    text-align: center;
}

.links-fabricas-home #descricao {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20pt;
    text-align: justify;
    font-size: 18pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-left-home {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
}

.container-left-home p {
    text-align: justify;
    font-size: 18pt;
    margin-left: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#tituloFabricas-home {
    margin: 20px 80px;
}

#textoLeftFabricas-home {
    margin-left: 0;
}

.container-right-home {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
}

.container-right-home p {
    margin: 20px;
    text-align: justify;
    font-size: 18pt;
    margin-left: 80px;
    margin-right: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-img-home {
    text-align: center;
    border-radius: 16px;
    color: white;
}

.container-img-home  p {
    text-align: center;
}

.container-img-home img {
    border-color: white;
    border-radius: 16px;
    height: 350px;
}

.container-img-home#soft {
    box-shadow: 0pt 0pt 90pt -10pt #43079C;
    border-radius: 16px;
    background-color: #43079C;
    outline-offset: 0.2rem;
    outline: 0.2rem solid #43079C;
    width: 1100px;
}

.container-img-home#jogos {
    box-shadow: 0pt 0pt 90pt -10pt #CF023D;
    border-radius: 16px;
    background-color: #CF023D;
    outline-offset: 0.2rem;
    outline: 0.2rem solid #CF023D;
    width: 1100px;
}

.container-img-home#cgi {
    box-shadow: 0pt 0pt 90pt -10pt #E1A300;
    border-radius: 16px;
    background-color: #E1A300;
    outline-offset: 0.2rem;
    outline: 0.2rem solid #E1A300;
    width: 1100px;
}

.container-img-home#audiovisual {
    box-shadow: 0pt 0pt 90pt -10pt #04BA1A;
    border-radius: 16px;
    background-color: #04BA1A;
    outline-offset: 0.2rem;
    outline: 0.2rem solid #04BA1A;
    width: 1100px;
}


.btn-soft-home {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    text-decoration: none;
    border-radius: 150px;
    border-style: solid;
    border-color: #43079C;
    color: black;
    transition: 1s;
    margin-left: 110pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-jogos-home {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    text-decoration: none;
    border-radius: 150px;
    border-style: solid;
    border-color: #CF023D;
    color: black;
    transition: 1s;
    margin-left: 110pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-cgi-home {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    text-decoration: none;
    border-radius: 150px;
    border-style: solid;
    border-color: #E1A300;
    color: black;
    transition: 1s;
    margin-left: 110pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-audioVisual-home {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    text-decoration: none;
    border-radius: 150px;
    border-style: solid;
    border-color: #04BA1A;
    color: black;
    transition: 1s;
    margin-left: 110pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-soft-home:hover {
    background-color: #43079C;
    color: white;
    cursor: pointer;
}

.btn-jogos-home:hover {
    background-color: #CF023D;
    color: white;
    cursor: pointer;
}

.btn-cgi-home:hover {
    background-color: #E1A300;
    color: white;
    cursor: pointer;
}

.btn-audioVisual-home:hover {
    background-color: #04BA1A;
    color: white;
    cursor: pointer;
}

.rodape-preto-home {
    margin-top: 40px;
    text-align: center;
}

.rodape-preto-home img  {
    width: 400px; 
    height: auto;
    box-shadow: none;
}


/*Fábrica de Software*/


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100&display=swap');

.Body-Fabrica-Software {
    margin: 0;
    padding: 0;
}

/* cabecalho  */



nav.nav-software {
    align-items: center;
    justify-content: center;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid black;
    height: 80px;
    background-color: white;
    z-index: 2;
}

nav.nav-software img {
    height: 50px;
    margin-right: 200px;
    margin-left: 60px;
    box-shadow: none;
}

nav.nav-software #menuPages {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

nav.nav-software ul li {
    list-style-type: none;
    padding: none;
    margin: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.nav-software a {
    margin-left: 40px;
    margin-right: 40px;
    text-decoration: none;
    color: rgba(0, 0, 0, .7);
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Montserrat', 'Verdana', 'Geneva', sans-serif;
}


nav.nav-software li:nth-child(5) a, li:nth-child(6) a{
    width: 183px;
}

nav.nav-software a#logo {
    margin: 0;
}

nav.nav-software li #admButton {
    background-color: rgb(254, 185, 105, 75);
    border-radius: 40px;
    height: 40px;
    width: 120px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 100px;
}

nav.nav-software ul#menuFabricas {
    height: fit-content;
    position: absolute;
    top: 81px;
    left: 540px;
    background-color: white;
    padding: 0;
    margin: 0;
    width: 340px;
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 15px;
    justify-content: center;
    visibility: hidden;
    z-index: -1;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    transition: all 2ms ease-out;
}

nav.nav-software ul #menuFabricas li {
    list-style-type: none;
    margin-top: 15px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: left;
}

nav.nav-software ul#menuFabricas a {
    text-decoration: none;
    color: black; 
    height: 0px;
    font-size: 14px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
}


nav.nav-software ul#menuFabricas a#Fs:hover {
    color: rgba(43, 20, 99, 1);
}

nav.nav-software ul#menuFabricas a#Fj:hover {
    color: rgba(139, 26, 26, 1);
}

nav.nav-software ul#menuFabricas a#Fcg:hover {
    color: rgba(226, 153, 26, 1);
}

nav.nav-software ul#menuFabricas a#Fav:hover {
    color: rgba(66, 176, 48, 1);
}

nav.nav-software li:hover a#menuFabricasBtn {
    height: 80px;
}

nav.nav-software li:hover ul#menuFabricas {
    visibility: visible;
}

/* texto sobre fabrica software */

.texto-sobre-fabrica-software {
    font-family: var(--font-grad-title);
    line-height: 30px;
    position: absolute;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 2%;
    height: auto;
    text-align: justify;
    font-size: 22px;
}   

.texto-sobre-fabrica-software h1 {
    text-align: center;
    line-height: 15rem;
    font-size:30px;
}

.texto-sobre-fabrica-software button {
    width: 190px;
    height: 50px;
    font-family: var(--font-grad-title);
    border-radius: 20rem;
    margin: 6% 0% 0% 43%;
    background-color: rgba(43, 20, 99, 1);
    color: white;
    font-size: 22px;
}

/* fundo */

.roxo-introdu-software {
    height: 899px;
    margin-top: 79px;
    background-color: rgba(43, 20, 99, 1);
}

.branco-introdu-software {
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 260px 0 0 260px;
}

.roxo-projetos-software {
    background-color: rgba(43, 20, 99, 1);
    border-radius: 0 240px 220px 0;
    padding-top: 50px;
    height: 980px;
    box-shadow: 100px 0px 81px -50px rgba(45, 0, 148, 1);
}

.branco-requisitos-software{
    height: 980px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 260px 0 260px 0;
}

.roxo-requisitos-software {
    height: 980px;
    background-color: rgba(43, 20, 99, 1);
    
}
.branco-gradec-software{
    height: 980px;
    background-color:rgba(255, 255, 255, 1);
    
    
}
.roxo-gradec-software{
    height: 1200px;
    background-color: rgba(43, 20, 99, 1);
    border-radius: 260px 0 0 0;
    box-shadow: -100px -60px 60px -92px rgba(45, 0, 148, 1);
}

/* grade curricular */

.grade-curricular {
    margin: 90px 0px 90px 700px;
    color: white;
    width: 300px;
}

.container-title-grad {
    margin: 0 160px;
    padding: 10px 0;
}

.container-title-outside {
    display: flex;
    font-weight: bold;
    background-color: var(--color-grad-title);
    font-size: 13px;
    color: white;
    padding: 20px 21px;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    
}
.container-title-outside-btn {
    display: flex;
    font-weight: bold;
    background-color: var(--color-grad-title);
    font-size: 13px;
    color: white;
    padding: 20px 21px;
    border: 1px solid transparent;
    text-align: center;
    align-items: center;
    cursor: pointer;

}


.container-grad-table table {
    width: 100%;
    border-radius: 10px; 
    border-collapse: collapse;
    border-radius: 20px;
    overflow: hidden;
    
}

th, td {
    padding: 20px;
    border: 1px solid rgb(0, 0, 0);
}

tr:nth-child(2n) {
    background-color: #D9D9D9;
}
tr:nth-child(1) {
    background-color: #ffffff;
}
tr:nth-child(3) {
    background-color: #ffffff;
}
tr:nth-child(5) {
    background-color: #ffffff;
}

.container-title-outside {
    text-align: center;
}



/* carrosel */

.Body-Fabrica-Software span {
    font-size: x-large;
}
  
.Body-Fabrica-Software .card-img {
    box-shadow: 0 1px 2px #0003;
    width: 100%;
}
  
@media (max-width: 450px) { /*para melhoras a qualidade da imagem deixa limitada */
    .swiper {
      height: 270px;
    }
}
  

.swiper-button-prev, .swiper-button-next {
    color:black; /*Substitua #ff0000 pela cor desejada (código hexadecimal, RGB, etc.)*/
    border-radius: 50%;
    background-color: white;
    width: 60px; /* Largura desejada */
    height: 60px; /* Altura desejada */
    font-size: 12px;
    z-index: -1;
}


.swiper-button-prev {
    left: 10px; /* Ajusta a posição do botão esquerdo */
    color:black;
    padding: 20px;/* aqui deixa o botao no formato de circulo*/
}

.swiper-button-next {
    right: 10px; /* Ajusta a posição do botão direito */
    color:black;
    padding: 20px;/* aqui deixa o botao no formato de circulo*/
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 40px;
    color: black;
  
}
  
.Body-Fabrica-Software .swiper-slide{
    background-color: rgba(102, 30, 159, 1);
    z-index: 2;
}

@media only screen and (max-width: 480px) { /*define que todos os elementos <img> terão uma largura de 100% quando a largura da tela atender a esse critério.*/
    img {
      width: 100%;
    }
}

.swiper {
    height: 500px;
    z-index: -2;
}
  
.swiper-slide {
    text-align:justify; /*arruma o texto */
    display: flex;
    align-items: center;
    justify-content: center;
}

.description{
    font-size: 22px;
    color:aliceblue;
    overflow: hidden;
    margin: 4rem;
    font-family: var(--font-grad-title);
    
    text-overflow: ellipsis;   /*Adiciona reticências se o texto estiver cortado, exemplo: o curso tal oferece...*/
    display: -webkit-box;   /*delimita o texto que vc coloca*/
    -webkit-line-clamp: 8;  /*Definir a quantidade de linhas*/
    -webkit-box-orient: vertical;
    line-height: 30px;
}

.card-image{
    max-width: 40%;
    height: auto;
    width: 400rem;
    margin: 1rem;
}

.card-img{
    border-radius: 5px;
}

.swiper-slide{

    width: 100%;
    height: 100%;
}

.position {
    width: 1500px;/* NÃO MECHER AQUIIIII AQUI ARRUMA A LARGURA DO CARROSSEL.*/ 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.projeto-carrossel {
    height: 12rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.projeto-carrossel h1 {    
    color: white;
    text-align: center;
    margin: 10px;
    font-size: 56px;
    margin-top: 100px;
}

.projeto-carrossel p {
    color: white;
    text-align: center;
    margin: 50px;
    font-size: 27px;
 }

/* Rodapé */

#img-js, #img-html{
    padding: 23px;
    opacity: 0.5;
}

.rodape-branco {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    position: absolute;
    left: 0;
    right: 0;
    top: 250rem;
}

.rodape-branco img  {
    width: 400px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
    box-shadow: none;
}

/*icones introducao*/
#imgIcone{
    opacity: 0.5;
    width: 9rem;
    height: 9rem;
    padding: 10px;
    position: absolute;
}

.icone-js{
    left: 53rem;
    top: 4rem;
}

.icone-html{
    left: 100rem;
    top: 8rem;
}

.icone-angular{
    left: 76rem;
    top: 43rem;
}

.icone-sql{
    left: 105rem;
    top: 45rem;
}

.icone-csharp {
    left: 10rem;
    top: 13rem;
}


.icone-css {
    left: 30rem;
    top: 45rem;
}



/*REQUISITOS E CONHECIMENTOS NECESSÁRIOS*/

.requisitos-software{
    font-family: var(--font-grad-title);
    line-height: 30px;
    position: absolute;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 2%;
    height: auto;
    text-align: justify;
    font-size: 22px;
    color: black;
  }
  
  
  
  .requisitos-software h1 {
    text-align: center;
    line-height: 10rem;
  } 
  
  
  
  .container-soft-requisitos {
    display: flex;
    flex-direction: line;
    margin-top: 100px;
    justify-content: space-around;
  }
  
  .titulo-software {
    font-size: 22px;
  }
  
  .subtext-software {
    list-style-type: disc;
    padding: 0;
    margin-top: 50px;
    font-size: 22px;
  }




/*Fábrica de jogos*/

body.bodyFabricaJogos {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

html.htmlFabricaJogos {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header.cabecalhoFabricaJogos nav.navFabricaJogos {
    align-items: center;
    justify-content: center;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid black;
    height: 80px;
    background-color: white;
    z-index: 2;
}

header.cabecalhoFabricaJogos nav.navFabricaJogos img {
    height: 50px;
    margin-right: 200px;
    margin-left: 60px;
}

header.cabecalhoFabricaJogos nav.navFabricaJogos #menuPages {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

header.cabecalhoFabricaJogos nav.navFabricaJogos ul li {
    list-style-type: none;
    padding: none;
    margin: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

header.cabecalhoFabricaJogos nav.navFabricaJogos a {
    margin-left: 40px;
    margin-right: 40px;
    text-decoration: none;
    color: rgba(0, 0, 0, .7);
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Montserrat', 'Verdana', 'Geneva', sans-serif;
}


header.cabecalhoFabricaJogos nav.navFabricaJogos li:nth-child(5) a, li:nth-child(6) a{
    width: 183px;
}

header.cabecalhoFabricaJogos nav.navFabricaJogos a#logo {
    margin: 0;
}
header.cabecalhoFabricaJogos nav.navFabricaJogos a#logo img{
    box-shadow: none;
}

header.cabecalhoFabricaJogos nav.navFabricaJogos li #admButton {
    background-color: rgb(254, 185, 105, 75);
    border-radius: 40px;
    height: 40px;
    width: 120px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 100px;
}

header.cabecalhoFabricaJogos nav.navFabricaJogos ul#menuFabricas {
    height: fit-content;
    position: absolute;
    top: 81px;
    left: 540px;
    background-color: white;
    padding: 0;
    margin: 0;
    width: 340px;
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 15px;
    justify-content: center;
    visibility: hidden;
    z-index: -1;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    transition: all 2ms ease-out;
}

header.cabecalhoFabricaJogos nav.navFabricaJogos ul #menuFabricas li {
    list-style-type: none;
    margin-top: 15px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: left;
}

header.cabecalhoFabricaJogos nav.navFabricaJogos ul#menuFabricas a {
    text-decoration: none;
    color: black; 
    height: 0px;
    font-size: 14px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
}

header.cabecalhoFabricaJogos nav.navFabricaJogos ul#menuFabricas a#Fs:hover {
    color: rgba(43, 20, 99, 1);
}

header.cabecalhoFabricaJogos nav.navFabricaJogos ul#menuFabricas a#Fj:hover {
    color: rgba(139, 26, 26, 1);
}

header.cabecalhoFabricaJogos nav.navFabricaJogos ul#menuFabricas a#Fcg:hover {
    color: rgba(226, 153, 26, 1);
}

header.cabecalhoFabricaJogos nav.navFabricaJogos ul#menuFabricas a#Fav:hover {
    color: rgba(66, 176, 48, 1);
}

header.cabecalhoFabricaJogos nav.navFabricaJogos li:hover a#menuFabricasBtn {
    height: 80px;
}

header.cabecalhoFabricaJogos nav.navFabricaJogos li:hover ul#menuFabricas {
    visibility: visible;
}


main.mainFabricaJogos{
    background-color:  rgba(139, 26, 26, 1);
    margin-top: 80px;
}

main.mainFabricaJogos .ft51-vermelho-introdu{
    height: 899px;
}

main.mainFabricaJogos .ft51-branco-introdu{
    background-color: rgba(255,255,255, 1);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 260px 0 0 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main.mainFabricaJogos .ft51-branco-introdu h1 {
    font-size: 56px;
    font-family: 'Verdana', 'Geneva', sans-serif;
}

main.mainFabricaJogos .ft51-branco-introdu p {
    font-size: 27px; 
    font-family: sans-serif;
    margin-top: 40px;
    text-align: justify;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    line-height: 30px;
    word-spacing: 5px;
}

main.mainFabricaJogos .edital-button {
    background-color: #8B1A1A;
    color: #FFFFFF;
    font-size: 27px;
    font-family: sans-serif;
    padding: 10px 60px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 60px;
}


/*Carrosel*/
span {
    font-size: x-large;
}
  
img {
    box-shadow: 0 1px 2px #0003;
    width: 100%;
}
  
@media (max-width: 450px) { /*para melhoras a qualidade da imagem deixa limitada */
    .swiper {
      height: 270px;
    }
}
  

.swiper-button-prev, .swiper-button-next {
    color:black; /*Substitua #ff0000 pela cor desejada (código hexadecimal, RGB, etc.)*/
    border-radius: 50%;
    background-color: white;
    width: 60px; /* Largura desejada */
    height: 60px; /* Altura desejada */
    font-size: 12px;
    /* position: absolute; */
    z-index: 0;
    
}


.swiper-button-prev {
    left: 10px; /* Ajusta a posição do botão esquerdo */
    color:black;
    padding: 20px;/* aqui deixa o botao no formato de circulo*/
}

.swiper-button-next {
    right: 10px; /* Ajusta a posição do botão direito */
    color:black;
    padding: 20px;/* aqui deixa o botao no formato de circulo*/
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 40px;
    color: black;
  
}
  
.bodyFabricaJogos .swiper-slide{
    background-color: rgba(177, 8, 8, 1);
    z-index: 2;
}

@media only screen and (max-width: 480px) { /*define que todos os elementos <img> terão uma largura de 100% quando a largura da tela atender a esse critério.*/
    img {
      width: 100%;
    }
}

.swiper {
    height: 500px;
    z-index: -2;
}
  
.swiper-slide {
    text-align:justify; /*arruma o texto */
    display: flex;
    align-items: center;
    justify-content: center;
}

.description{
    font-size: 22px;
    word-spacing: 5px;
    color:aliceblue;
    overflow: hidden;
    margin: 4rem;
    font-family: 'Verdana', 'Geneva', sans-serif;
    
    text-overflow: ellipsis;   /*Adiciona reticências se o texto estiver cortado, exemplo: o curso tal oferece...*/
    display: -webkit-box;   /*delimita o texto que vc coloca*/
    -webkit-line-clamp: 8;  /*Definir a quantidade de linhas*/
    -webkit-box-orient: vertical;
    line-height: 30px;
    
}

.card-image{
    max-width: 40%;
    height: auto;
    width: 400rem;
    margin: 1rem;
}

.card-img{
    border-radius: 5px;
}

.swiper-slide{
    width: 100%;
    height: 100%; 
}

.position {
    width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projeto-carrossel {
    height: 180px;
    margin-top: -50px;
    margin-bottom: 80px;
}



main.mainFabricaJogos .ft51-vermelho-projetos{
    background-color: rgba(139, 26, 26, 1);
    border-radius: 0 240px 220px 0;
    padding-top: 50px;
    height: 980px;
    box-shadow: 100px 0px 81px -50px rgba(212, 27, 27, 1);
}


main.mainFabricaJogos .ft51-branco-requisitos{
    height: 980px;
    background-color: rgba(255, 255, 255,1);
    border-radius: 260px 0 260px 0;
}


main.mainFabricaJogos #effectRequests1 {
    height: auto;
    width: 160px;
    margin: 0;
    left: 0;
    position: absolute;
}

main.mainFabricaJogos #effectRequests2 {
    height: auto;
    fill: aqua;
    width: 160px;
    margin: 0;
    margin-top: 907px;
    margin-left: 90%;
    position: absolute;
    z-index: 0;
    fill: rgba(139, 26, 26, 1);

}

main.mainFabricaJogos #swordDecoration {
    height: auto;
    width: 200px;

    position: absolute;
    left: 70%;
    bottom: 0px;
}

main.mainFabricaJogos .ft51-vermelho-requisitos{
    height: 980px;
    background-color: rgba(139, 26, 26, 1);
}



main.mainFabricaJogos .ft51-vermelho-projetos h1{
    margin-bottom: 30px;
    color: white;
    font-size: 56px;
    text-align: center;
    position: relative;
    margin-top: 60px ;
}


main.mainFabricaJogos .ft51-vermelho-projetos p:nth-child(2){
    color: white;
    font-size: 27px;
    word-spacing: 5px;
    line-height: 30px;
    width: 1200px;
    margin-left: 18%;
    text-align: justify;
    margin-bottom: -120px;
}

main.mainFabricaJogos .ft51-vermelho-projetos p{
    font-size: 27px;
}


main.mainFabricaJogos .ft51-branco-requisitos{
    display: flex;
    justify-content: center;
    align-items: center;
}

main.mainFabricaJogos .jogos-requisitos {
    position: relative;
    width: 1200px;
    text-align: center;
}

main.mainFabricaJogos .jogos-requisitos h1{
    margin-bottom: 30px;
    font-size: 56px;
}

main.mainFabricaJogos .jogos-requisitos p {
    text-align: justify;
    font-size: 27px;
    word-spacing: 5px;
    line-height: 30px;
}

main.mainFabricaJogos #jogosIdadeConhecimento {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    text-align: left;
}

main.mainFabricaJogos #jogosIdadeConhecimento h2{
    font-size: 22px;
}

main.mainFabricaJogos #jogosIdadeConhecimento #idade {
    position: relative;
    margin-right: 15%;
}

main.mainFabricaJogos #jogosIdadeConhecimento #idade ul {
    margin-left: 40px;
    font-size: 18px;
}

main.mainFabricaJogos #jogosIdadeConhecimento #idade ul li {
    margin-top: 10px;
}

main.mainFabricaJogos #jogosIdadeConhecimento #conhecimentos {
    margin-left: 15%;
    position: relative;
}

main.mainFabricaJogos #jogosIdadeConhecimento #conhecimentos ul {
    margin-left: 40px;
    font-size: 18px
}

main.mainFabricaJogos #jogosIdadeConhecimento #conhecimentos ul li {
    margin-top: 10px;
}

main.mainFabricaJogos .ft51-branco-gradec{
    height: 980px;
    background-color:rgba(255, 255, 255,1);  
}
main.mainFabricaJogos .ft51-vermelho-gradec{
    height: 1200px;
    background-color:rgba(139, 26, 26, 1);
    border-radius: 260px 0 0 0;
    box-shadow: -100px -60px 60px -92px rgba(212, 27, 27, 1);
}

/*Grade Curricular*/

main.mainFabricaJogos .grade-curricular {
    margin: 100px;
    color: white;
    margin-left: 40%;
    
}

main.mainFabricaJogos .container-title-grad {
    margin: 0 160px;
    padding: 10px 0;
    
}

main.mainFabricaJogos .container-title-outside {
    display: flex;
    font-weight: bold;
    background-color: transparent;
    font-size: 27px;
    color: white;
    padding: 20px 21px;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    cursor: pointer;
}


main.mainFabricaJogos .container-title-outside-btn {
    display: flex;
    font-weight: bold;
    background-color: transparent;
    font-size: 13px;
    color: white;
    padding: 20px 21px;
    border: 1px solid transparent;
    text-align: center;
    align-items: center;
    cursor: pointer;
}


main.mainFabricaJogos .container-grad-table table {
    width: 100%;
    border-radius: 10px; 
    border-collapse: collapse;
    border-radius: 20px;
    overflow: hidden; 
}

main.mainFabricaJogos th, td {
    padding: 20px;
    border: 1px solid rgb(0, 0, 0);
}

main.mainFabricaJogos tr:nth-child(2n) {
    background-color: #D9D9D9;
}
main.mainFabricaJogos tr:nth-child(1) {
    background-color: #ffffff;
}
main.mainFabricaJogos tr:nth-child(3) {
    background-color: #ffffff;
}
main.mainFabricaJogos tr:nth-child(5) {
    background-color: #ffffff;
}

main.mainFabricaJogos .container-title-outside {
    text-align: center;
}




main.mainFabricaJogos #effectIntro1{
    height: auto;
    width: 160px;
    margin: 0;
    left: 0;
    position: absolute;
}

main.mainFabricaJogos #effectIntro2{
    height: auto;
    fill: aqua;
    width: 160px;
    margin: 0;
    margin-top: 842px;
    margin-left: 86.5%;
    position: absolute;
}

footer.rodape-brancoFabricadejogos {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: transparent;
    background-color: #8B1A1A;
    height: fit-content;
    border-collapse: collapse;
    flex-shrink: 0;
    margin-top: 3100px;
}


.rodape-brancoFabricadejogos img  {
    width: 400px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
    box-shadow: none;
}




/*Demanda*/

header.cabecalho-Demanda nav{
    align-items: center;
    justify-content: center;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid black;
    height: 80px;
    background-color: white;
    z-index: 2;
}

header.cabecalho-Demanda nav img {
    height: 50px;
    margin-right: 200px;
    margin-left: 60px;
}

header.cabecalho-Demanda nav #menuPages {
    display: flex;
    justify-content: center;
    align-items: center;
}

header.cabecalho-Demanda nav ul li {
    list-style-type: none;
    padding: none;
    margin: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

header.cabecalho-Demanda nav a {
    margin-left: 40px;
    margin-right: 40px;
    text-decoration: none;
    color: rgba(0, 0, 0, .7);
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Montserrat', 'Verdana', 'Geneva', sans-serif;
    margin-top: 15px;
}


header.cabecalho-Demanda nav li:nth-child(5) a, li:nth-child(6) a{
    width: 183px;
}

header.cabecalho-Demanda nav a#logo {
    margin: 0;
}
header.cabecalho-Demanda nav a#logo img{
    box-shadow: none;
}

header.cabecalho-Demanda nav li #admButton {
    background-color: rgb(254, 185, 105, 75);
    border-radius: 40px;
    height: 40px;
    width: 120px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 100px;
}

header.cabecalho-Demanda nav ul#menuFabricas {
    height: fit-content;
    position: absolute;
    top: 81px;
    left: 540px;
    background-color: white;
    padding: 0;
    margin: 0;
    width: 340px;
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 15px;
    justify-content: center;
    visibility: hidden;
    z-index: -1;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    transition: all 2ms ease-out;
    
}

header.cabecalho-Demanda nav ul #menuFabricas li {
    list-style-type: none;
    margin-top: 15px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: left;
}

header.cabecalho-Demanda nav ul#menuFabricas a {
    text-decoration: none;
    color: black; 
    height: 0px;
    font-size: 14px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 0;
}

header.cabecalho-Demanda nav ul#menuFabricas a#Fs:hover {
    color: rgba(43, 20, 99, 1);
}

header.cabecalho-Demanda nav ul#menuFabricas a#Fj:hover {
    color: rgba(139, 26, 26, 1);
}

header.cabecalho-Demanda nav ul#menuFabricas a#Fcg:hover {
    color: rgba(226, 153, 26, 1);
}

header.cabecalho-Demanda nav ul#menuFabricas a#Fav:hover {
    color: rgba(66, 176, 48, 1);
}

header.cabecalho-Demanda nav li:hover a#menuFabricasBtn {
    height: 80px;
}

header.cabecalho-Demanda nav li:hover ul#menuFabricas {
    visibility: visible;
}

.body-demanda, .html-demanda {
    margin: 0;
    padding: 0;
    align-items: center;
    display: block;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: white; 
    background-size:cover;
    background-size: cover;
    background-position: center;
    overflow: hidden auto;
    z-index: 2;
}

.body-demanda div.effects {
    position: absolute;
    top: 35%;
    left: 5%;
    height: 200px;
    width: 200px;
    transform: translate(-50%, -50%);
    filter: blur(135px);
    background-color: #AA15C2;
    opacity: 70%;
    z-index: 1;
  }
  
.body-demanda .effects:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 95%;
    height: 200px;
    width: 200px;
    transform: translate(-50%, -50%);
    filter: blur(135px);
    opacity: 70%;
    background-color: #4815c2;
    z-index: 1;
  }



/* Diminuir o tamanho da fonte em telas pequenas */
 @media screen and (max-width: 576px) {
    .conteudo {
      font-size: 14px;
    }
 }
/* Diminuir ainda mais o tamanho da fonte em telas extra pequenas */
@media screen and (max-width: 320px){
    .conteudo {
      font-size: 12px;
    }
}

.body-demanda .content-title-subtitle-demanda {
    padding: 20px 0 0 0;
    color: var(--font-color-pagdemanda-title-subtitle);
    text-align: center;
    z-index: -1;
  }
  
.body-demanda .col, .col-lg-6 {
    padding: 0;
    border: 1px dashed red;
}
.body-demanda .row {
    padding: 0;
    
}

.body-demanda .container-campo-dados-demanda {
    background-color: var(--background-color-demanda-cadastro);
    text-align: center;
    width: auto;
    border-radius: 20px;
    height: auto;
    z-index: -2;
  }
  
.body-demanda .content-title-subtitle-demanda h1{
    font-size: var(--font-size-titulo);
    color:#000;
  
  }
  
.body-demanda .content-title-subtitle-demanda p {
    font-size: var(--font-size-subTitulo);
    color:#000; 
  
  }
  
.body-demanda .content-wrapper-all-demanda {
    margin-top: 100px; 

    
  }
  
.body-demanda .form-control {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    
  }
  
.body-demanda .inputs-titular-Demanda {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
    align-items: center;
    z-index: 1;
  }
  
.body-demanda .inputs-empresa-Demanda input{
    margin: 10px;
    border-radius: 15px;
    width: 350px;
    height: 50px;
    z-index: 1;
  }
  

.body-demanda .inputs-titular-Demanda input {
    align-items: center;
    padding:30px;
    z-index: 1;
  }
  
.body-demanda .inputs-titular-Demanda input{
    margin: 10px;
    border-radius: 15px;
    width: 300px;
    height: 50px;
    z-index: 1;
  }
  
.body-demanda .campo-dados-demanda h2{
    font-size: var(--font-size-subTitulo);
    line-height: 40px;
    
}
.body-demanda .col-md-6 {
    padding: 0;
    width: 400px;
    
}

.body-demanda #title-demanda-first {
    font-family: var(--font-destaque);
    font-size: var(--font-size-titulo);
    font-weight: bold;
    padding: 50px 0 10px 0;
}

.body-demanda #inputs-demanda-lists,
.body-demanda #inputs-demanda-lists input{
    padding: 0;
    border-radius: 15px;
    height: 55px;
    width: 100%;
}

.body-demanda #inputs-demanda-lists input::placeholder {
    padding: 10px;
    font-size: 15px;
}

.body-demanda .forms-demanda button {
    margin: 60px 0 50px 0;
    border-radius: 15px;
    background-color: transparent;
    border: 1px solid var(--button-color-demanda);
    padding: 10px 60px;
    color: var(--button-color-demanda);
}

.body-demanda #inputs-demanda-lists {
    padding: 35px;
}

.body-demanda #inputs-demanda-lists label{
    background-color: white;
    color: black;
    width: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 10px;

}



.body-demanda .campo-dados-demanda {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
  }

.body-demanda #dados-empresa-demanda-h2 {
    font-size: 25px;
  }
  
.body-demanda .dados-Empresa-demanda {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.body-demanda .dados-Titular-demanda {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center
  }
  
.body-demanda .sobre-Projeto-Demanda {
    font-size: var(--font-size-subTitulo);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -50px;
  }
  
.body-demanda .sobre-Projeto-Demanda h2{
    margin: 18px;
  }
  
.body-demanda .enviar-Demanda{
    padding: 15px 40px;
    border-radius: 12px;
    background-color: transparent;
    color: white;
    border-color: #3B96EB;
    margin: 20px;
    z-index: 1;
    cursor: pointer;
    
  }

.body-demanda .rodape-preto-demanda {
    text-align: center;
    background-color: transparent;
    
  }
  
.body-demanda .effects#effect2 {
    position: absolute;
    top: 50%;
    left: 100%;
    height: 320px;
    width: 320px;
    transform: translate(-50%, -50%);
    filter: blur(125px);
    opacity: 40%;
    background-color: #4815c2;
    z-index: 1;
  }
  

.body-demanda .content-title-subtitle-demanda {
    padding: 20px 0 0 0;
    color: var(--font-color-pagdemanda-title-subtitle);
    text-align: center;
    z-index: -1;
  }
  
.body-demanda .container-campo-dados-demanda {
    background-color: var(--background-color-demanda-cadastro);
    text-align: center;
    border-radius: 20px;
    height: 830px;
    width: 1200px;
    z-index: -2;
  }
  
.body-demanda .content-title-subtitle-demanda h1{
    font-size: var(--font-size-titulo)
  
  }
  
.body-demanda .content-title-subtitle-demanda p {
    font-size: var(--font-size-subTitulo);
  
  }
  
.body-demanda .content-wrapper-all-demanda {
    margin-top: 100px; 

    
  }
  
.body-demanda .inputs-empresa-Demanda {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 250px;
    margin-left: 10rem;
    margin-right: 10rem;
    align-items: center;
    z-index: 1;
  }
  
.body-demanda .inputs-titular-Demanda {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
    margin-left: 10rem;
    margin-right: 10rem;
    align-items: center;
    z-index: 1;
  }
  
.body-demanda .inputs-empresa-Demanda input{
    margin: 10px;
    border-radius: 15px;
    width: 350px;
    height: 50px;
    z-index: 1;
  }
  
.body-demanda .inputs-empresa-Demanda input,
.body-demanda .inputs-titular-Demanda input {
    padding: 0 30px;
    z-index: 1;
  }
  
.body-demanda .inputs-titular-Demanda input{
    margin: 10px;
    border-radius: 15px;
    width: 350px;
    height: 50px;
    z-index: 1;
  }
  
.body-demanda .campo-dados-demanda h2{
    font-size: var(--font-size-subTitulo);
    line-height: 40px;
    
  }
  
.body-demanda #dados-empresa-demanda-h2 {
    font-size: 25px;
  }
  
.body-demanda #dados-empresa-demanda-h2:nth-child(1) {
    padding-top: 20px;
  }

.body-demanda .campo-dados-demanda {
    margin-top: 90px;
  }
  
.body-demanda .dados-Empresa-demanda {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.body-demanda .dados-Titular-demanda {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center
  }
  
.body-demanda .sobre-Projeto-Demanda {
    font-size: var(--font-size-subTitulo);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -50px;
  }
  
.body-demanda .sobre-Projeto-Demanda h2{
    margin: 18px;
  }
  
.body-demanda .enviar-Demanda{
    padding: 15px 40px;
    border-radius: 12px;
    background-color: transparent;
    color: white;
    border-color: #3B96EB;
    margin: 20px;
    z-index: 1;
    cursor: pointer;
    
  }

.body-demanda .rodape-preto-demanda {
    text-align: center;
    padding-top: 1500px;
    padding-bottom: 10px;
    background-color: transparent;
    position: absolute;
    left: 0;
    right: 0;
    
}

.body-demanda .rodape-preto-demanda img{
    width: 400px;
    height: auto;
    box-shadow: none;
}

.body-demanda .file-label {
    display: inline-flex;
    background-color: white;
    color: grey;
    padding: 10px 20px;
    border-radius: 12px;
    width: 715px;
    height: 50px;
    text-align: start;
    align-items: center;
    font-size: 14px;
    z-index: 2;
  }
  
.body-demanda .file-input {
    display: none;
    
  }

.body-demanda .file-label p{
    color: #04BA1A;
    margin-top: 2.5%;
    margin-left: 10px;
}



/*Cadastro Fabrica Software*/

main.cadastroFabrica-Software {
    max-width: 1200px;
    margin: 20px auto;
    margin-top: 160px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input.cadastroFabrica-Software {
    padding: 15px;
    border-radius: 5px ;
    margin-bottom: 10px;
}

.btn-enviar-cadastroFabrica-Software {
    margin-top: 50px;
    padding: 15px 60px;
    border: 3px solid  #3B96EB;
    border-radius: 7px;
    background-color: rgb(40,19,88,1);
    color : #3B96EB;
    font-size: 27px;
    margin-bottom: 70px;
    margin-top: 70px;
}

.btn-enviar-cadastroFabrica-Software:hover {
    background-color: #3B96EB;
    color: white;
    cursor: pointer;
}

.input-completo-cadastroFabrica-Software {
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.sombra-roxa-cadastroFabrica-Software {
    box-shadow: -100px 4px 130px 100px rgba(45, 0, 148, 1);
    border-radius: 50%;
    top: 300px;
    position: absolute;
    left: -52px;
} 

.sombra-rosa-cadastroFabrica-Software {
    box-shadow: -100px 4px 100px 100px #ab15c26b;
    top: 200px;
    border-radius: 90%;
    position: absolute;
    right: 0;
    right: -200px;
}

#container-campos-preenchimento-cadastroFabrica-Software{
    background-color: #281358;
    border-radius: 10px;
    text-align: center;
}

#campos-preenchimento-cadastroFabrica-Software {
    margin-top: 50px;
}

#text-sobre-cadastroFabrica-Software{
    color: #000;
    margin-bottom: 40px;
}

#text-sobre-cadastroFabrica-Software p {
    text-align: justify;
}

#sub-titulo-white-cadastroFabrica-Software {
    color: #FFFFFF;
}

input.form-group  {
    padding: 15px;
    border-radius: 5px ;
    margin-bottom: 10px;
}

main.form-group  {
    max-width: 1200px;
    margin: 20px auto;
    margin-top: 160px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
