@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-destaque);
}

body, html{
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background-color: white; 
  background-size: cover;
  background-position: center;
}

article {
  margin-top: 2cm;
  color: black;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: white;
  padding: 15px;
}

main {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
}

nav {
  align-items: center;
  justify-content: center;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid black;
  height: 70px;
  background-color: white;
  z-index: 1;
}

nav img {
  height: 50px;
  margin-right: 200px;
  margin-left: 60px;
}

nav #menuPages {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  list-style-type: none;
  padding: none;
  margin: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  margin-left: 40px;
  margin-right: 40px;
  text-decoration: none;
  color: rgba(0, 0, 0, .7);
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
  font-size: 12pt;
  letter-spacing: 1px;
  font-family: 'Montserrat', 'Verdana', 'Geneva', sans-serif;
}


nav li:nth-child(5) a, li:nth-child(6) a{
  width: 100%;
}

nav a#logo {
  margin: 0;
}

nav li #admButton {
  background-color: rgb(254, 185, 105, 75);
  border-radius: 40px;
  height: 40px;
  width: 120px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 100px;
}

nav ul#menuFabricas {
  position: absolute;
  top: 70px;
  left: 529px;
  background-color: white;
  padding: 0;
  margin: 0;
  border-radius: 0px 0px 10px 10px;
  padding-bottom: 15px;
  justify-content: center;
  visibility: hidden;
  z-index: -1;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  transition: all 2ms ease-out;
}

nav ul #menuFabricas li {
  list-style-type: none;
  padding: 0;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: left;
}

nav ul#menuFabricas a {
  text-decoration: none;
  height: 0px;
  font-size: 12pt;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
}


nav ul#menuFabricas a#Fs:hover {
  color: rgba(43, 20, 99, 1);
}

nav ul#menuFabricas a#Fj:hover {
  color: rgba(139, 26, 26, 1);
}

nav ul#menuFabricas a#Fcg:hover {
  color: rgba(226, 153, 26, 1);
}

nav ul#menuFabricas a#Fav:hover {
  color: rgba(66, 176, 48, 1);
}

nav li:hover a#menuFabricasBtn {
  height: 80px;
}

nav li:hover ul#menuFabricas {
  visibility: visible;
}

:root {
  --font-destaque: "Verdana", "Geneva", "Tahoma", sans-serif;
  --font-size-titulo: 56px;
  --font-size-subTitulo: 18px;
  --font-size-corpo: 27px;
  --font-size-legenda: 8px;
  --cor-titulo-banco-de-talentos:#000000;
  --cor-subtitulo-banco-de-talentos:#FFFFFF;
  --cor-fundo-banco-de-talentos:#281358;

}

.contanier-sobre {
    position: relative;
    background-image: url(../Imagens/fundo-sobre.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 850px;
    position: relative;
    top: 31px;
    box-shadow: 0px 3px 5px 0px black;
}

.container-blur-content {
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
    backdrop-filter: blur(7px);
    color: white;
    width: 100%;
    height: 100%;
}

.container-blur-content-white {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.148);
    backdrop-filter: blur(7px);
    width: 100%;
    height: 100%;
}

.sobre {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center; 
}

.content-sobre {
    position: relative;
    margin-left: 460px;
    margin-right: 460px;
}

.content-sobre h1{
    font-size: var(--font-size-titulo);
    padding-top: 90px;
}

.content-wrapper{
    display: flex;
    text-align: justify;
    margin-top: 3%;
}

.content-wrapper p{
    width: 600px;
    height: 350px;
    max-width: 700px;
    padding-right: 50px;
    margin-right: 20px;
    line-height: 40px;
    font-size: 18pt;
}
.content-sobre-wrapper-home {
  display: flex;
  justify-content: center;
  align-items: center;

}
.wave-top {
    position: absolute;
    margin-left: -860px;
    height: 1200px;

}

.wave-top svg {
	transform: rotate(-40deg);
  height: 420px;
}

.wave-down {
    position: absolute;
    bottom: 0;
    right: 0;
    left: auto;
}

.complet-svg {
    height: 100%;
    background-color: white;
}

.wave-down svg {
    width: 100%;
    height: 110%;
}

.links-fabricas h1{
  font-size: 27pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.links-fabricas article{
  text-align: center;
}

.links-fabricas #descricao {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 20pt;
  text-align: justify;
  font-size: 18pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-left {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 100px;
}

.container-left p {
  margin: 20px;
  text-align: justify;
  font-size: 18pt;
  margin-right: 80px;
  margin-left: 80px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-right {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 100px;
}

.container-right p {
  margin: 20px;
  text-align: justify;
  font-size: 18pt;
  margin-left: 80px;
  margin-right: 80px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-img-home {
  text-align: center;
  border-radius: 16px;
  color: white;
  
}

.container-img-home  p {
  text-align: center;
}

.container-img-home img {
  border-color: white;
  border-radius: 16px;
  height: 350px;
}

.container-img-home#soft {
  box-shadow: 0pt 0pt 90pt -10pt #43079C;
  border-radius: 16px;
  background-color: #43079C;
  outline-offset: 0.2rem;
  outline: 0.2rem solid #43079C;
}

.container-img-home#jogos {
  box-shadow: 0pt 0pt 90pt -10pt #CF023D;
  border-radius: 16px;
  background-color: #CF023D;
  outline-offset: 0.2rem;
  outline: 0.2rem solid #CF023D;
}

.container-img-home#cgi {
  box-shadow: 0pt 0pt 90pt -10pt #E1A300;
  border-radius: 16px;
  background-color: #E1A300;
  outline-offset: 0.2rem;
  outline: 0.2rem solid #E1A300;
}

.container-img-home#audiovisual {
  box-shadow: 0pt 0pt 90pt -10pt #04BA1A;
  border-radius: 16px;
  background-color: #04BA1A;
  outline-offset: 0.2rem;
  outline: 0.2rem solid #04BA1A;
}


.btn-soft {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  text-decoration: none;
  border-radius: 150px;
  border-style: solid;
  border-color: #43079C;
  color: black;
  transition: 1s;
  margin-left: 110pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-jogos {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  text-decoration: none;
  border-radius: 150px;
  border-style: solid;
  border-color: #CF023D;
  color: black;
  transition: 1s;
  margin-left: 110pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-cgi {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  text-decoration: none;
  border-radius: 150px;
  border-style: solid;
  border-color: #E1A300;
  color: black;
  transition: 1s;
  margin-left: 110pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-audioVisual {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  text-decoration: none;
  border-radius: 150px;
  border-style: solid;
  border-color: #04BA1A;
  color: black;
  transition: 1s;
  margin-left: 110pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-soft:hover {
  background-color: #43079C;
  color: white;
  cursor: pointer;
}

.btn-jogos:hover {
  background-color: #CF023D;
  color: white;
  cursor: pointer;
}

.btn-cgi:hover {
  background-color: #E1A300;
  color: white;
  cursor: pointer;
}

.btn-audioVisual:hover {
  background-color: #04BA1A;
  color: white;
  cursor: pointer;
}

.rodape-preto {
  margin-top: 10px;

}

.container-rodape {
  text-align: center;
  background-color: transparent;
  color: black;
}




.rodape-branco {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: transparent;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.rodape-preto {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: transparent;
  position: absolute;
  left: 0;
  right: 0;
}

.rodape-preto img  {
  width: 400px; /* Ajuste o tamanho da imagem conforme necessário */
  height: auto;
}

.rodape-branco img  {
  width: 400px; /* Ajuste o tamanho da imagem conforme necessário */
  height: auto;
}

/* PÁGINA  DO BANCO DE TALENTOS*/

.main-banco-de-talentos{
  width: 1200px;
  margin: auto;
}

.main-banco-de-talentos__titulo{
  color: var(--cor-titulo-banco-de-talentos);
  text-align: center;
}



.bola-fundo-banco-talentos-esquerda {
  height: 200px;
  width: 200px;
  background-color: #AA15C2;
  border-radius: 50%;
  filter: blur(90px);
}

.bola-fundo-banco-talentos-direita {
  height: 200px;
  width: 200px;
  background-color: #AA15C2;
  border-radius: 50%;
  filter: blur(90px);
  text-align: right;
}


.section-formulario-banco-de-talentos {
height: 1094px;
background-color: var(--cor-fundo-banco-de-talentos);
border-radius: 25px;
}