@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-grad-title);
}

:root {
    --font-grad-title: Verdana, Geneva, Tahoma, sans-serif;

    --color-grad:rgba(43, 20, 99, 1);
    --color-grad-title:rgba(43, 20, 99, 1);

    --font-size-grad: 8.5px;
}

/* cabecalho  */

nav.nav-software {
    align-items: center;
    justify-content: center;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid black;
    height: 80px;
    background-color: white;
    z-index: 2;
}

nav.nav-software img {
    height: 50px;
    margin-right: 200px;
    margin-left: 60px;
}

nav.nav-software #menuPages {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.nav-software ul li {
    list-style-type: none;
    padding: none;
    margin: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.nav-software a {
    margin-left: 40px;
    margin-right: 40px;
    text-decoration: none;
    color: rgba(0, 0, 0, .7);
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: var(--font-grad-title);
}


nav.nav-software li:nth-child(5) a, li:nth-child(6) a{
    width: 183px;
}

nav.nav-software a#logo {
    margin: 0;
}

nav.nav-software li #admButton {
    background-color: rgb(254, 185, 105, 75);
    border-radius: 40px;
    height: 40px;
    width: 120px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 100px;
}

nav.nav-software ul#menuFabricas {
    height: fit-content;
    position: absolute;
    top: 81px;
    left: 568px;
    background-color: white;
    padding: 0;
    margin: 0;
    width: 340px;
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 15px;
    justify-content: center;
    visibility: hidden;
    z-index: -1;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    transition: all 2ms ease-out;
}

nav.nav-software ul #menuFabricas li {
    list-style-type: none;
    margin-top: 15px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: left;
}

nav.nav-software ul#menuFabricas a {
    text-decoration: none;
    color: black; 
    height: 0px;
    font-size: 14px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.8);
}


nav.nav-software ul#menuFabricas a#Fs:hover {
    color: rgba(43, 20, 99, 1);
}

nav.nav-software ul#menuFabricas a#Fj:hover {
    color: rgba(139, 26, 26, 1);
}

nav.nav-software ul#menuFabricas a#Fcg:hover {
    color: rgba(226, 153, 26, 1);
}

nav.nav-software ul#menuFabricas a#Fav:hover {
    color: rgba(66, 176, 48, 1);
}

nav.nav-software li:hover a#menuFabricasBtn {
    height: 80px;
}

nav.nav-software li:hover ul#menuFabricas {
    visibility: visible;
}

/* texto sobre fabrica software */

.texto-sobre-fabrica-software {
    font-family: var(--font-grad-title);
    line-height: 30px;
    position: absolute;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 2%;
    height: auto;
    text-align: justify;
    font-size: 22px;
}   

.texto-sobre-fabrica-software h1 {
    text-align: center;
    line-height: 15rem;
    font-size:30px;
}

.texto-sobre-fabrica-software button {
    width: 190px;
    height: 50px;
    font-family: var(--font-grad-title);
    border-radius: 20rem;
    margin: 6% 0% 0% 43%;
    background-color: rgba(43, 20, 99, 1);
    color: white;
    font-size: 22px;
}

/* fundo */

.roxo-introdu-software {
    height: 899px;
    margin-top: 79px;
    background-color: rgba(43, 20, 99, 1);
}

.branco-introdu-software {
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 260px 0 0 260px;
}

.roxo-projetos-software {
    background-color: rgba(43, 20, 99, 1);
    border-radius: 0 240px 220px 0;
    padding-top: 50px;
    height: 980px;
    box-shadow: 100px 0px 81px -50px rgba(45, 0, 148, 1);
}

.branco-requisitos-software{
    height: 980px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 260px 0 260px 0;
}

.roxo-requisitos-software {
    height: 980px;
    background-color: rgba(43, 20, 99, 1);
    
}
.branco-gradec-software{
    height: 980px;
    background-color:rgba(255, 255, 255, 1);
    
    
}
.roxo-gradec-software{
    height: 1200px;
    background-color: rgba(43, 20, 99, 1);
    border-radius: 260px 0 0 0;
    box-shadow: -100px -60px 60px -92px rgba(45, 0, 148, 1);
}

/* grade curricular */

.grade-curricular {
    margin: 90px 0px 90px 700px;
    color: white;
    width: 300px;
}

.container-title-grad {
    margin: 0 160px;
    padding: 10px 0;
}

.container-title-outside {
    display: flex;
    font-weight: bold;
    background-color: var(--color-grad-title);
    font-size: 13px;
    color: white;
    padding: 20px 21px;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    
}
.container-title-outside-btn {
    display: flex;
    font-weight: bold;
    background-color: var(--color-grad-title);
    font-size: 13px;
    color: white;
    padding: 20px 21px;
    border: 1px solid transparent;
    text-align: center;
    align-items: center;
    cursor: pointer;

}


.container-grad-table table {
    width: 100%;
    border-radius: 10px; 
    border-collapse: collapse;
    border-radius: 20px;
    overflow: hidden;
    
}

th, td {
    padding: 20px;
    border: 1px solid rgb(0, 0, 0);
}

tr:nth-child(2n) {
    background-color: #D9D9D9;
}
tr:nth-child(1) {
    background-color: #ffffff;
}
tr:nth-child(3) {
    background-color: #ffffff;
}
tr:nth-child(5) {
    background-color: #ffffff;
}

.container-title-outside {
    text-align: center;
}



/* carrosel */

span {
    font-size: x-large;
}
  
.card-img {
    box-shadow: 0 1px 2px #0003;
    width: 100%;
}
  
@media (max-width: 450px) { /*para melhoras a qualidade da imagem deixa limitada */
    .swiper {
      height: 270px;
    }
}
  

.swiper-button-prev, .swiper-button-next {
    color:black; /*Substitua #ff0000 pela cor desejada (código hexadecimal, RGB, etc.)*/
    border-radius: 50%;
    background-color: white;
    width: 60px; /* Largura desejada */
    height: 60px; /* Altura desejada */
    font-size: 12px;
    z-index: -1;
}


.swiper-button-prev {
    left: 10px; /* Ajusta a posição do botão esquerdo */
    color:black;
    padding: 30px;/* aqui deixa o botao no formato de circulo*/
}

.swiper-button-next {
    right: 10px; /* Ajusta a posição do botão direito */
    color:black;
    padding: 30px;/* aqui deixa o botao no formato de circulo*/
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 40px;
    color: black;
  
}
  
.swiper-slide{
    background-color: rgba(102, 30, 159, 1);
}

@media only screen and (max-width: 480px) { /*define que todos os elementos <img> terão uma largura de 100% quando a largura da tela atender a esse critério.*/
    img {
      width: 100%;
    }
}

.swiper {
    height: 500px;
}
  
.swiper-slide {
    text-align:justify; /*arruma o texto */
    display: flex;
    align-items: center;
    justify-content: center;
}

.description{
    font-size: 20px;
    color:aliceblue;
    overflow: hidden;
    margin: 4rem;
    font-family: var(--font-grad-title);
    
    text-overflow: ellipsis;   /*Adiciona reticências se o texto estiver cortado, exemplo: o curso tal oferece...*/
    display: -webkit-box;   /*delimita o texto que vc coloca*/
    -webkit-line-clamp: 8;  /*Definir a quantidade de linhas*/
    -webkit-box-orient: vertical;
    line-height: 30px;
}

.card-image{
    max-width: 100%;
    height: auto;
    width: 300rem;
    margin: 1rem;
}

.card-img{
    border-radius: 5px;
}

.swiper-slide{
    padding: 90px;
    width: 100%;
    height: 100%;
}

.position {
    width: 1500px;/* NÃO MECHER AQUIIIII AQUI ARRUMA A LARGURA DO CARROSSEL.*/ 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.projeto-carrossel {
    height: 12rem;
}

.projeto-carrossel h1 {    
    color: white;
    text-align: center;
    margin: 10px;
    font-size: 30px;
}

.projeto-carrossel p {
    color: white;
    text-align: center;
    margin: 50px;
    font-size: 20px;
 }

/* Rodapé */

#img-js, #img-html{
    padding: 23px;
    opacity: 0.5;
}

.rodape-branco {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    position: absolute;
    left: 0;
    right: 0;
    top: 250rem;
}

.rodape-branco img  {
    width: 400px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
}

/*icones introducao*/
#imgIcone{
    opacity: 0.5;
    width: 9rem;
    height: 9rem;
    padding: 10px;
    position: absolute;
}

.icone-js{
    left: 53rem;
    top: 4rem;
}

.icone-html{
    left: 100rem;
    top: 8rem;
}

.icone-angular{
    left: 76rem;
    top: 43rem;
}

.icone-sql{
    left: 105rem;
    top: 45rem;
}

.icone-csharp {
    left: 10rem;
    top: 13rem;
}


.icone-css {
    left: 30rem;
    top: 45rem;
}



/*REQUISITOS E CONHECIMENTOS NECESSÁRIOS*/

.requisitos-software{
    font-family: var(--font-grad-title);
    line-height: 30px;
    position: absolute;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 2%;
    height: auto;
    text-align: justify;
    font-size: 22px;
    color: black;
  }
  
  
  
  .requisitos-software h1 {
    text-align: center;
    line-height: 10rem;
  } 
  
  
  
  .container-soft-requisitos {
    display: flex;
    flex-direction: line;
    margin-top: 100px;
    justify-content: space-around;
  }
  
  .titulo-software {
    font-size: 22px;
  }
  
  .subtext-software {
    list-style-type: disc;
    padding: 0;
    margin-top: 50px;
    font-size: 22px;
  }

