@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-destaque);

}

:root {
    --font-destaque:"MontSerrat", sans-serif;

}

.contanier-sobre {
    background-image: url(img/fundo-sobre.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
    position: relative;
}

.container-blur-content {
    position: absolute;
    left: 0;
    top: 0;

    background-color: transparent;
    backdrop-filter: blur(7px);
    color: white;
    width: 100%;
    height: 100%;
}

.container-blur-content-white {
    position: absolute;
    left: 0;
    top: 0;
    
    background-color: rgba(255, 255, 255, 0.148);
    backdrop-filter: blur(7px);
    width: 100%;
    height: 100%;

}

.sobre {
    position: absolute;
    color: white;
    top: 50%;
    left: 10%; 
    transform: translateY(-50%);
    text-align: left; 
    padding: 20px; 
    max-width: 40%;
}

.sobre h1 {
    font-size: 72px; 
}

.texto-sobre {
    margin-top: 100px; 
}

.texto-sobre h3 {
    font-size: 62px; 
    margin-bottom: 20px;
}

.imagem-sobre {
    position: absolute;
    top: 70%;
    right: 40%;
    transform: translateY(-50%);
}
