
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.edital-fdV {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-cc1y-dij {
    flex-shrink: 0;
    margin-bottom: 1rem;
    width: 100%;
    height: 58.8rem;
    position: relative;

    .frame-18-zUj {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 4rem 0rem 6.3rem 0.2rem;
      overflow: hidden;
      align-items: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      width: 144.2rem;
      height: 41.9rem;

      .auto-group-4pp3-kMR {
        width: calc(100% - 15.4rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 7.6rem 2.1rem 7.8rem;

        .vector-BxX {
          flex-shrink: 0;
          width: 7.1rem;
          height: 8rem;
          object-fit: contain;
          vertical-align: top;
        }
        .logo-guH {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.3rem 9.4rem 0rem 0rem;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
        }
        .component-7-Jfm {
          height: 6.8rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-top: 1rem;

          .auto-group-dq1z-BzT {
            box-sizing: border-box;
            padding: 1.5rem 8.8rem 1.9rem 0rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .home-ah9 {
              margin: 0.3rem 4.4rem 0rem 0rem;
              white-space: nowrap;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              text-align: center;
              font-size: 2.5rem;
              font-weight: 400;
            }
            .bah2-ctj {
              font-weight: 400;
              line-height: 1.2125;
              white-space: nowrap;
              flex-shrink: 0;
              height: 100%;
              cursor: pointer;
              padding: 0.3rem 0.6rem 0rem 1rem;
              font-size: 2.5rem;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              margin-right: 5.4rem;
              box-sizing: border-box;
            }
            .edital-2hZ {
              flex-shrink: 0;
              text-align: center;
              font-weight: 400;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              margin: 0.3rem 7.2rem 0rem 0rem;
              font-size: 2.5rem;
              line-height: 1.2125;
              color: #000000;
            }
            .empregos-tjm {
              margin: 0.3rem 6.1rem 0rem 0rem;
              font-size: 2.5rem;
              font-weight: 400;
              color: #000000;
              text-align: center;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .banco-de-talentos-AhH {
              font-size: 2.5rem;
              font-weight: 400;
              line-height: 1.2125;
              flex-shrink: 0;
              margin-top: 0.3rem;
              text-align: center;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .auto-group-zutb-RNK {
            width: 20rem;
            color: #000000;
            font-size: 2.6rem;
            align-items: center;
            justify-content: center;
            background-color: rgba(254, 189, 105, 0.75);
            flex-shrink: 0;
            font-weight: 400;
            white-space: nowrap;
            backdrop-filter: blur(1.7rem);
            border-radius: 4rem;
            height: 100%;
            text-align: center;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            display: flex;
          }
        }
      }
      .rectangle-424-PCf {
        flex-shrink: 0;
        margin-bottom: 7rem;
        width: 100%;
        height: 0.1rem;
        background-color: #000000;
      }
      .editais-gBm {
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0.2rem 3.1rem 0rem;
      }
      .este-campo-destinado-aos-editais-das-empresas-e-das-fabricas-f-software-fjogos-fcomputao-grfica-e-faudio-visual-xf5 {
        font-size: 2.2rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        margin-right: 0.2rem;
        max-width: 70.7rem;
        text-align: center;
        font-weight: 700;
        color: #000000;
        flex-shrink: 0;
      }
    }
    .ellipse-7-H55 {
      top: 30.8rem;
      filter: blur(12.5rem);
      background-color: rgba(72, 21, 194, 0.5);
      border-radius: 14rem;
      width: 28rem;
      height: 28rem;
      position: absolute;
      left: 125.9rem;
    }
    .edital-do-aluno-Ymh {
      font-weight: 600;
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
      position: absolute;
      top: 47.2rem;
      left: 53rem;
      font-size: 4.8rem;
      line-height: 1.2175;
      white-space: nowrap;
      width: 37.9rem;
      height: 5.9rem;
    }
    .ellipse-7-qF1 {
      background-color: rgba(169, 21, 194, 0.5);
      border-radius: 14rem;
      width: 28rem;
      height: 28rem;
      position: absolute;
      left: 0;
      top: 19.2rem;
      filter: blur(12.5rem);
    }
  }
  .group-74-9Fh {
    margin: 0rem 8.6rem 12.5rem 8.6rem;
    box-shadow: 1rem 1rem 0.4rem rgba(0, 0, 0, 0.25);
    border-radius: 2rem;
    box-sizing: border-box;
    padding: 2.6rem 2.682rem 2.7rem 2.6rem;
    width: calc(100% - 17.2rem);
    height: 95.8rem;
    background-color: #2b1463;
    flex-shrink: 0;

    .group-75-dwZ {
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      .op1-zGK {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .botoop1-whM {
          height: 6.5rem;
          display: flex;
          background-color: #ffffff;
          border-radius: 1.5rem;
          flex-shrink: 0;
          margin: 0rem 0rem 0.741rem 0.109rem;
          padding: 1.4rem 2.8rem 1.4rem 2rem;
          box-sizing: border-box;
          align-items: center;

          .botoinscrio-D95 {
            margin: 0.3rem 2.6rem 0.1rem 0rem;
            width: 20.7rem;
            height: calc(100% - 0.4rem);
            font-size: 1.8rem;
            color: #ffffff;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            background-color: #68da55;
            font-weight: 700;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            border-radius: 1rem;
          }
          .txtprocessosele1-49h {
            margin: 0.3rem 23.9rem 0rem 0rem;
            font-size: 1.8rem;
            color: #000000;
            display: flex;
            align-items: baseline;
            flex-shrink: 0;
            font-weight: 700;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;

            .txtprocessosele1-49h-sub-0 {
              font-size: 1.8rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
            .txtprocessosele1-49h-sub-1 {
            }
            .txtprocessosele1-49h-sub-2 {
              font-weight: 700;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.8rem;
            }
          }
          .txtv-ZeB {
            height: 3.7rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 3.7rem;
          }
        }
        .auto-group-edw3-gD1 {
          padding: 2.759rem 2.622rem 1.259rem 2.622rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          background-color: #f7f7f7;
          border-radius: 3.1rem;
          flex-shrink: 0;
          box-sizing: border-box;

          .txtinfo1-zzP {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2.6485rem;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .txtinfo2-jh5 {
            margin-bottom: 2.9515rem;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .botocandidatar-se-4UT {
            margin: 0rem 29.087rem 0rem 28.487rem;
            height: 5.2rem;
            flex-shrink: 0;
            line-height: 1.2125;
            display: flex;
            justify-content: center;
            font-weight: 800;
            font-family: Inter, 'Source Sans Pro';
            align-items: center;
            background-color: #005594;
            width: calc(100% - 57.5742rem);
            text-align: center;
            font-size: 2rem;
            color: #ffffff;
            white-space: nowrap;
            border-radius: 1rem;
          }
        }
      }
      .auto-group-xhuu-JNo {
        width: 100%;
        row-gap: 1.5rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.541rem 0.318rem 0rem 0.3rem;

        .botoop2-bco {
          padding: 1.4rem 2.8rem 1.4rem 2rem;
          width: 100%;
          height: 6.5rem;
          display: flex;
          background-color: #eaeaea;
          border-radius: 1.5rem;
          box-sizing: border-box;
          align-items: center;
          flex-shrink: 0;

          .botoinscrio-7r3 {
            font-size: 1.8rem;
            color: #ffffff;
            display: flex;
            align-items: center;
            background-color: rgba(104, 218, 85, 0.8500000238);
            border-radius: 1rem;
            width: 20.7rem;
            white-space: nowrap;
            flex-shrink: 0;
            font-weight: 700;
            font-family: Inter, 'Source Sans Pro';
            justify-content: center;
            line-height: 1.2125;
            height: calc(100% - 0.4rem);
            margin: 0.3rem 2.6rem 0.1rem 0rem;
          }
          .txtprocessosele2-wq5 {
            font-family: Inter, 'Source Sans Pro';
            align-items: baseline;
            flex-shrink: 0;
            margin: 0.3rem 25rem 0rem 0rem;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            white-space: nowrap;
            display: flex;

            .txtprocessosele2-wq5-sub-0 {
              font-weight: 700;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.8rem;
            }
            .txtprocessosele2-wq5-sub-1 {
            }
            .txtprocessosele2-wq5-sub-2 {
              font-size: 1.8rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .txtv-Rdm {
            width: 3.7rem;
            height: 3.7rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .botoop3-MGX {
          background-color: #ffffff;
          flex-shrink: 0;
          padding: 1.4rem 2.8rem 1.4rem 2rem;
          width: 100%;
          display: flex;
          align-items: center;
          box-sizing: border-box;
          height: 6.5rem;
          border-radius: 1.5rem;

          .botoinscrio3-gJo {
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 700;
            color: #ffffff;
            width: 20.7rem;
            align-items: center;
            border-radius: 1rem;
            background-color: rgba(104, 218, 85, 0.8500000238);
            flex-shrink: 0;
            margin: 0.3rem 2.6rem 0.1rem 0rem;
            line-height: 1.2125;
            display: flex;
            height: calc(100% - 0.4rem);
            white-space: nowrap;
            justify-content: center;
          }
          .txtprocessosele3-wEj {
            display: flex;
            flex-shrink: 0;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            white-space: nowrap;
            margin: 0.3rem 24.6rem 0rem 0rem;
            font-size: 1.8rem;
            font-family: Inter, 'Source Sans Pro';
            align-items: baseline;

            .txtprocessosele3-wEj-sub-0 {
              font-size: 1.8rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
            .txtprocessosele3-wEj-sub-1 {
            }
            .txtprocessosele3-wEj-sub-2 {
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #000000;
            }
          }
          .txtv-U8B {
            vertical-align: top;
            flex-shrink: 0;
            width: 3.7rem;
            height: 3.7rem;
            position: relative;
            object-fit: contain;
          }
        }
        .botoop4-awu {
          flex-shrink: 0;
          box-sizing: border-box;
          align-items: center;
          background-color: #eaeaea;
          border-radius: 1.5rem;
          padding: 1.4rem 2.8rem 1.4rem 2rem;
          width: 100%;
          height: 6.5rem;
          display: flex;

          .botoinscrio4-vF5 {
            white-space: nowrap;
            border-radius: 1rem;
            display: flex;
            align-items: center;
            background-color: rgba(104, 218, 85, 0.8500000238);
            margin: 0.3rem 2.6rem 0.1rem 0rem;
            width: 20.7rem;
            height: calc(100% - 0.4rem);
            font-size: 1.8rem;
            line-height: 1.2125;
            color: #eaeaea;
            justify-content: center;
            font-weight: 700;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .txtprocessosele4-kju {
            font-weight: 700;
            margin: 0.3rem 27.3rem 0rem 0rem;
            font-size: 1.8rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            align-items: baseline;
            flex-shrink: 0;
            line-height: 1.2125;
            color: #000000;

            .txtprocessosele4-kju-sub-0 {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 700;
              line-height: 1.2125;
            }
            .txtprocessosele4-kju-sub-1 {
            }
            .txtprocessosele4-kju-sub-2 {
              font-size: 1.8rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .txtv-rRZ {
            width: 3.7rem;
            height: 3.7rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .botoop5-Ax3 {
          display: flex;
          align-items: center;
          background-color: #ffffff;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.4rem 2.8rem 1.4rem 2rem;
          width: 100%;
          height: 6.5rem;
          border-radius: 1.5rem;

          .botoemandamento1-6ao {
            font-weight: 700;
            font-family: Inter, 'Source Sans Pro';
            background-color: rgba(235, 170, 59, 0.8500000238);
            flex-shrink: 0;
            font-size: 1.8rem;
            white-space: nowrap;
            border-radius: 1rem;
            margin: 0.3rem 2.6rem 0.1rem 0rem;
            display: flex;
            justify-content: center;
            width: 20.7rem;
            height: calc(100% - 0.4rem);
            line-height: 1.2125;
            color: #ffffff;
            align-items: center;
          }
          .txtprocessosele5-kQT {
            margin: 0.3rem 27.3rem 0rem 0rem;
            font-size: 1.8rem;
            color: #000000;
            white-space: nowrap;
            display: flex;
            align-items: baseline;
            font-weight: 700;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;

            .txtprocessosele5-kQT-sub-0 {
              font-size: 1.8rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
            .txtprocessosele5-kQT-sub-1 {
            }
            .txtprocessosele5-kQT-sub-2 {
              font-size: 1.8rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .txtv5-Rf1 {
            height: 3.7rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 3.7rem;
          }
        }
        .botoop6-jvb {
          width: 100%;
          display: flex;
          align-items: center;
          border-radius: 1.5rem;
          box-sizing: border-box;
          padding: 1.4rem 2.8rem 1.4rem 2rem;
          height: 6.5rem;
          background-color: #eaeaea;
          flex-shrink: 0;

          .botoemandamento2-f3Z {
            margin: 0.3rem 2.6rem 0.1rem 0rem;
            color: #ffffff;
            align-items: center;
            width: 20.7rem;
            font-weight: 700;
            line-height: 1.2125;
            display: flex;
            justify-content: center;
            background-color: rgba(235, 170, 59, 0.8500000238);
            font-size: 1.8rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            border-radius: 1rem;
            flex-shrink: 0;
            height: calc(100% - 0.4rem);
          }
          .txtprocessosele6-VYP {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            align-items: baseline;
            flex-shrink: 0;
            margin: 0.3rem 20.9rem 0rem 0rem;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.2125;
            display: flex;

            .txtprocessosele6-VYP-sub-0 {
              font-size: 1.8rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
            .txtprocessosele6-VYP-sub-1 {
            }
            .txtprocessosele6-VYP-sub-2 {
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #000000;
            }
          }
          .txtv6-nR1 {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 3.7rem;
            height: 3.7rem;
          }
        }
        .botoop6-5uu {
          box-sizing: border-box;
          padding: 1.4rem 2.8rem 1.4rem 2rem;
          width: 100%;
          display: flex;
          flex-shrink: 0;
          height: 6.5rem;
          align-items: center;
          background-color: #ffffff;
          border-radius: 1.5rem;

          .botoemandamento3-o5D {
            height: calc(100% - 0.4rem);
            font-weight: 700;
            white-space: nowrap;
            display: flex;
            justify-content: center;
            font-family: Inter, 'Source Sans Pro';
            background-color: rgba(238, 167, 61, 0.8500000238);
            font-size: 1.8rem;
            line-height: 1.2125;
            align-items: center;
            margin: 0.3rem 2.6rem 0.1rem 0rem;
            width: 20.7rem;
            color: #ffffff;
            border-radius: 1rem;
            flex-shrink: 0;
          }
          .txtprocessosele7-1wy {
            margin: 0.3rem 19rem 0rem 0rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 700;
            color: #000000;
            display: flex;
            align-items: baseline;

            .txtprocessosele7-1wy-sub-0 {
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 700;
            }
            .txtprocessosele7-1wy-sub-1 {
            }
            .txtprocessosele7-1wy-sub-2 {
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 700;
            }
          }
          .txtv7-sco {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 3.7rem;
            height: 3.7rem;
            position: relative;
          }
        }
        .botoop8-b31 {
          height: 6.5rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.4rem 2.7rem 1.4rem 2rem;
          width: 100%;
          background-color: #eaeaea;
          border-radius: 1.5rem;

          .botoencerrado1-Vu5 {
            font-size: 1.8rem;
            align-items: center;
            justify-content: center;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            background-color: rgba(247, 75, 51, 0.8700000048);
            flex-shrink: 0;
            margin: 0.3rem 2.6rem 0.1rem 0rem;
            width: 20.7rem;
            height: calc(100% - 0.4rem);
            line-height: 1.2125;
            font-weight: 700;
            color: #eaeaea;
            border-radius: 1rem;
          }
          .txtprocessosele8-vUb {
            font-size: 1.8rem;
            flex-shrink: 0;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            align-items: baseline;
            margin: 0.3rem 14rem 0rem 0rem;
            font-weight: 700;

            .txtprocessosele8-vUb-sub-0 {
              font-size: 1.8rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
            .txtprocessosele8-vUb-sub-1 {
            }
            .txtprocessosele8-vUb-sub-2 {
              font-size: 1.8rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .txtv8-BJ3 {
            width: 3.7rem;
            height: 3.7rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .botoop10-Gio {
          box-sizing: border-box;
          padding: 1.4rem 2.7rem 1.4rem 2rem;
          display: flex;
          border-radius: 1.5rem;
          width: 100%;
          height: 6.5rem;
          align-items: center;
          background-color: #ffffff;
          flex-shrink: 0;

          .botoencerrado2-nh9 {
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(247, 75, 51, 0.8700000048);
            flex-shrink: 0;
            margin: 0.3rem 2.6rem 0.1rem 0rem;
            font-weight: 700;
            width: 20.7rem;
            font-size: 1.8rem;
            color: #ffffff;
            white-space: nowrap;
            height: calc(100% - 0.4rem);
            line-height: 1.2125;
            border-radius: 1rem;
          }
          .txtprocessosele10-37H {
            margin: 0.3rem 12.1rem 0rem 0rem;
            font-size: 1.8rem;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            align-items: baseline;
            flex-shrink: 0;
            font-weight: 700;

            .txtprocessosele10-37H-sub-0 {
              font-size: 1.8rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
            .txtprocessosele10-37H-sub-1 {
            }
            .txtprocessosele10-37H-sub-2 {
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #000000;
            }
          }
          .txtv10-v4b {
            height: 3.7rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 3.7rem;
          }
        }
      }
    }
  }
  .auto-group-ix51-Ajd {
    border-radius: 3.6rem 3.6rem 0 0;
    flex-shrink: 0;
    margin-bottom: 39rem;
    box-sizing: border-box;
    padding: 1.3rem 44.3rem 1.4rem 44.2rem;
    width: 100%;
    background-color: rgba(225, 225, 225, 0.1000000015);

    .imgrodap-JL3 {
      vertical-align: top;
      width: 55.5rem;
      height: 15.5rem;
      object-fit: cover;
    }
  }
  .ellipse-6-b4F {
    width: 28rem;
    height: 28rem;
    filter: blur(12.5rem);
    background-color: rgba(21, 73, 194, 0.5);
    border-radius: 14rem;
    flex-shrink: 0;
  }
}
