/* GRADE DE jogos */

#collapseExample1-jogos, #collapseExample2-jogos, #collapseExample3-jogos {
    color: rgb(0, 0, 0);
    margin-left: 25px;
    margin-right: 25px;
}

.grade-container-jogos {
    text-align: center;
}

.body-da-grade-jogos {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #8B1A1A; /* COLOQUE A COR DO FUNDO DA SUA FÁBRICA CASO PRECISAR*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* isso aqui faz o botão não subir e o background descer junto com o componente */
    margin: auto;  
}

.primeira-grade-jogos, .segunda-grade-jogos, .terceira-grade-jogos {
    font-size: 24px;
}

#botao-grade-jogos {
    font-size: 32px; /* tamanho da fonte do botão */ 
    height: 200px; /* NÃO ADICIONAR WIDTH, POIS DESTRÓI A RESPONSIVIDADE!!! */
    border: 1px solid white;
    margin-left: 25px;
    margin-right: 25px;
    /* A COR DO BOTAO ESTÁ NO PRÓPRO HTML, A CLASSE JA IMPORTA A COR DO BOOTSTRAP JUNTO COM O TIPO DE BOTAO */
}

.table-grade-jogos {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
    border-top: 1px solid black;


}

.th-grade-jogos, .td-class-1-jogos, .td-class-2-jogos {
    padding: 15px;
    text-align: left;
}

.th-grade-jogos:first-child, .td-class-1-jogos:first-child {
    border-right: 1px solid black;
}

.tr-grade-jogos:first-child {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.td-class-1-jogos, .td-class-2-jogos {
    border: 1px solid black;
}

.td-class-2-jogos {
    background-color: #D9D9D9; /* estilização do dropdown , uma linha é branca por default e a próxima é cinza*/
}