
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.fabrica-de-jogos-ARh {
  width: 100%;
  height: 571.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .txtfbr-cdejogos-pef {
    position: absolute;
    font-size: 2.1rem;
    font-weight: 400;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    width: 23.8rem;
    align-items: baseline;
    left: 8rem;
    top: 5.8rem;
    line-height: 1.2102272397;
    height: 3.9rem;

    .txtfbr-cdejogos-pef-sub-0 {
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
    .txtfbr-cdejogos-pef-sub-1 {
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      font-size: 1.2rem;
      font-weight: 400;
    }
  }
  .menu-UCj {
    top: 5.1rem;
    display: flex;
    align-items: center;
    width: 105.9rem;
    height: 6.8rem;
    position: absolute;
    left: 30.6rem;

    .auto-group-neyb-h5V {
      box-sizing: border-box;
      padding: 1.5rem 8.8rem 1.9rem 0rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .txthome-X4X {
        flex-shrink: 0;
        text-align: center;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0.3rem 4.4rem 0rem 0rem;
        font-size: 2.5rem;
        font-weight: 400;
      }
      .btnfabricas-xQj {
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        margin-right: 5.4rem;
        box-sizing: border-box;
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;
        padding: 0.3rem 0.6rem 0rem 1rem;
        font-size: 2.5rem;
        font-weight: 400;
        white-space: nowrap;
      }
      .txtedital-Amh {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        line-height: 1.2125;
        margin: 0.3rem 4.9rem 0rem 0rem;
        text-align: center;
        font-size: 2.5rem;
        font-weight: 400;
      }
      .txtempregos-o3y {
        white-space: nowrap;
        text-align: center;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0.3rem 3.8rem 0rem 0rem;
        font-size: 2.5rem;
        color: #000000;
      }
      .txtbanco-de-talentos-SMq {
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-top: 0.3rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        text-align: center;
        font-size: 2.5rem;
        white-space: nowrap;
      }
    }
    .auto-group-tjlx-sxw {
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      align-items: center;
      backdrop-filter: blur(1.7rem);
      width: 20rem;
      font-size: 2.6rem;
      flex-shrink: 0;
      height: 100%;
      text-align: center;
      white-space: nowrap;
      display: flex;
      justify-content: center;
      background-color: rgba(254, 189, 105, 0.75);
      border-radius: 4rem;
      line-height: 1.2125;
      color: #000000;
    }
  }
  .imgfundogradecurricular-XGo {
    left: 0;
    top: 318rem;
    background-color: #861515;
    width: 144rem;
    height: 253.2rem;
    position: absolute;
  }
  .projetos-eMR {
    top: 83.1rem;
    object-fit: contain;
    vertical-align: top;
    width: 150.9081rem;
    height: 136.4rem;
    position: absolute;
    left: 0;
  }
  .efeito-mgw {
    object-fit: contain;
    vertical-align: top;
    width: 38.6378rem;
    height: 63.5619rem;
    position: absolute;
    left: 107.7622rem;
    top: 84.1rem;
  }
  .imgefeito-VN3 {
    width: 38.6rem;
    height: 39.1rem;
    position: absolute;
    left: 0;
    top: 69.8rem;
    object-fit: contain;
    vertical-align: top;
  }
  .imgefeitoquadrado-2cs {
    width: 39.1rem;
    height: 38.6rem;
    position: absolute;
    left: 0;
    top: 11.8rem;
    object-fit: contain;
    vertical-align: top;
  }
  .txtfabricadejogos-Aj5 {
    height: 6.9rem;
    top: 33.7rem;
    font-size: 5.6rem;
    line-height: 1.2175;
    white-space: nowrap;
    width: 49.5rem;
    position: absolute;
    left: 42.7rem;
    font-weight: 700;
    color: #000000;
    font-family: Montserrat, 'Source Sans Pro';
  }
  .txtfabricadejogosrequisitos-sNb {
    height: 4.4rem;
    color: #000000;
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
    line-height: 1.2175;
    width: 19.8rem;
    position: absolute;
    left: 62.1rem;
    top: 232.8rem;
    font-size: 3.6rem;
    font-weight: 700;
  }
  .txtgradecurricular-ZmD {
    font-size: 3.6rem;
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
    width: 30.9rem;
    left: 56.5rem;
    top: 330.8rem;
    font-weight: 700;
    line-height: 1.2175;
    color: #ffffff;
    height: 4.4rem;
    position: absolute;
  }
  .txtfabricadejogosprojetos-HBR {
    width: 15.7rem;
    left: 64.1rem;
    top: 122.8rem;
    line-height: 1.2175;
    color: #ffffff;
    font-family: Montserrat, 'Source Sans Pro';
    height: 4.4rem;
    position: absolute;
    font-size: 3.6rem;
    font-weight: 700;
    white-space: nowrap;
  }
  .txtfabricadejogosdescrio-Z8w {
    width: 132.1rem;
    font-weight: 300;
    line-height: 1.5625;
    font-family: Inter, 'Source Sans Pro';
    font-size: 3.2rem;
    color: #000000;
    height: 35rem;
    position: absolute;
    left: 6rem;
    top: 44.6rem;
  }
  .txtfabricadejogosrequisitostexto-2oD {
    height: 31.5rem;
    position: absolute;
    top: 242.5rem;
    font-size: 3.2rem;
    font-weight: 300;
    color: #000000;
    width: 105.8rem;
    left: 18.9rem;
    line-height: 1.40625;
    font-family: Inter, 'Source Sans Pro';
  }
  .imgmenubarratopo-7Js {
    position: absolute;
    left: 0;
    top: 14.2rem;
    background-color: #000000;
    width: 144rem;
    height: 0.1rem;
  }
  .carrossel-3iK {
    height: 49.4rem;
    position: absolute;
    align-items: center;
    padding: 4.5rem 0rem 0.7rem 4.8rem;
    width: 336.6rem;
    top: 143.1rem;
    display: flex;
    background-color: #42b030;
    box-sizing: border-box;
    left: 0;

    .btncarrosselesq-jr3 {
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      height: calc(100% - 36.3rem);
      font-size: 5.4rem;
      font-weight: 400;
      background-color: #ffffff;
      width: 7.9rem;
      color: rgba(0, 0, 0, 0.75);
      display: flex;
      border-radius: 3.95rem;
      flex-shrink: 0;
      margin: 16.2rem 5.3rem 20.1rem 0rem;
    }
    .imgprojeto-b7Z {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 2.4rem 7.4rem 0rem;
      width: 48.9rem;
      height: 36.8rem;
    }
    .esferas-uP9 {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 43rem 2.1rem 0rem 0rem;
      width: 4rem;
      height: 1.2rem;
    }
    .auto-group-k5x7-ozK {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 9.2rem;
      box-sizing: border-box;
      padding-right: 197.5rem;
      width: 261.2rem;
      height: 35rem;

      .txtloremipsum-j7H {
        font-weight: 300;
        line-height: 1.5625;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 7.9rem;
        max-width: 47.9rem;
        font-size: 3.2rem;
      }
      .btncarrosseldir-FLX {
        height: calc(100% - 27.1rem);
        font-weight: 400;
        flex-shrink: 0;
        font-size: 5.4rem;
        white-space: nowrap;
        display: flex;
        margin: 16.2rem 0rem 10.9rem 0rem;
        color: rgba(0, 0, 0, 0.75);
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        border-radius: 3.95rem;
        width: 7.9rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
      }
    }
  }
  .imgrodap-Uyy {
    object-fit: cover;
    vertical-align: top;
    width: 55.5rem;
    height: 15.5rem;
    position: absolute;
    left: 44.2rem;
    top: 554.3rem;
  }
  .txtfabricadejogosprojetoslorem-cKV {
    width: 107.2rem;
    height: 10rem;
    position: absolute;
    line-height: 1.5625;
    font-family: Montserrat, 'Source Sans Pro';
    left: 17.9rem;
    top: 128.9rem;
    font-size: 3.2rem;
    font-weight: 300;
    color: #ffffff;
  }
  .imgiconseta-hrj {
    object-fit: contain;
    vertical-align: top;
    width: 53.85rem;
    height: 53.6065rem;
    position: absolute;
    left: 0;
    top: 212.9rem;
  }
  .imgefeitoquadrado-cio {
    height: 53.6065rem;
    position: absolute;
    left: 90.2rem;
    top: 268rem;
    object-fit: contain;
    vertical-align: top;
    width: 53.85rem;
  }
  .pr-requisitos-9Cw {
    width: 83rem;
    height: 18rem;
    position: absolute;
    left: 29.8rem;
    top: 281.4rem;
    display: flex;
    align-items: flex-start;

    .txtidademnima-56b {
      font-size: 3.2rem;
      font-weight: 600;
      line-height: 1.40625;
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 12.2rem;
      max-width: 23.8rem;

      
      .txtidademnima-56b-sub-1 {
        font-family: Montserrat, 'Source Sans Pro';
        font-size: 3.2rem;
        font-weight: 300;
        line-height: 1.40625;
        color: #000000;
      }
    }
    .txtconhecimentosnecessrios-eZ1 {
      line-height: 1.40625;
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 47rem;
      font-size: 3.2rem;
      font-weight: 600;

      
      .txtconhecimentosnecessrios-eZ1-sub-1 {
        font-size: 3.2rem;
        font-weight: 300;
        line-height: 1.40625;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
      }
    }
  }
  .grade-curricular-o4X {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 119rem;
    height: 147.9rem;
    position: absolute;
    left: 12.5rem;
    top: 346.7rem;

    .auto-group-t6ew-JGB {
      padding: 9.262rem 6.2rem 8.338rem 6.7rem;
      border: solid 0.2rem #ffffff;
      border-radius: 2rem;
      flex-shrink: 0;
      margin-bottom: 0.5rem;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: #861515;
      box-sizing: border-box;

      .txtoferta1-pVR {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 7.7rem;
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 1.2175;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
      }
      .imgiconseta-MET {
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 1.0248rem;
        width: 3.7rem;
        height: 2.2rem;
        object-fit: contain;
      }
    }
    .auto-group-px2f-CF5 {
      background-color: #ffffff;
      border-radius: 2rem;
      flex-shrink: 0;
      margin-bottom: 4.6rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;

      .auto-group-znbm-jko {
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        height: 9.2rem;
        display: flex;

        .auto-group-9vgp-Gkj {
          box-sizing: border-box;
          border-radius: 2rem 0 0 0;
          font-family: Montserrat, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          display: flex;
          height: 100%;
          font-weight: 600;
          line-height: 1.2175;
          width: 80.7rem;
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3.5rem;
          color: #000000;
          border: solid 0.1rem #000000;
        }
        .auto-group-cfqf-Wuy {
          font-size: 3.5rem;
          display: flex;
          box-sizing: border-box;
          flex-shrink: 0;
          width: 38.3rem;
          white-space: nowrap;
          justify-content: center;
          line-height: 1.2175;
          color: #000000;
          border: solid 0.1rem #000000;
          height: 100%;
          font-weight: 600;
          font-family: Montserrat, 'Source Sans Pro';
          align-items: center;
          border-radius: 0 2rem 0 0;
        }
      }
      .auto-group-5kck-Pym {
        height: 63.8rem;
        position: relative;
        flex-shrink: 0;
        width: 100%;

        .imgfundo-XKH {
          width: 38.2rem;
          height: 19.6rem;
          position: absolute;
          left: 80.7rem;
          top: 44.1rem;
          background-color: rgba(217, 217, 217, 0.6999999881);
          border-radius: 0 0 1.9rem 0;
        }
        .imgfundo-SBM {
          height: 19.6rem;
          position: absolute;
          left: 0.1rem;
          top: 44.1rem;
          background-color: rgba(217, 217, 217, 0.6999999881);
          border-radius: 0 0 0 1.9rem;
          width: 80.7rem;
        }
        .imgfundo-xfV {
          top: 13.4rem;
          background-color: rgba(217, 217, 217, 0.6999999881);
          width: 38rem;
          height: 15.2rem;
          position: absolute;
          left: 80.7rem;
        }
        .imgfundo-611 {
          height: 15.2rem;
          position: absolute;
          left: 0.1rem;
          top: 13.4rem;
          background-color: rgba(217, 217, 217, 0.6999999881);
          width: 80.5rem;
        }
        .txt100horas-dFq {
          width: 38.4rem;
          font-size: 3.2rem;
          font-weight: 300;
          font-family: Inter, 'Source Sans Pro';
          justify-content: center;
          box-sizing: border-box;
          height: 19.8rem;
          position: absolute;
          white-space: nowrap;
          display: flex;
          align-items: center;
          border: solid 0.1rem #000000;
          top: 44rem;
          line-height: 1.40625;
          color: #000000;
          left: 80.6rem;
          border-radius: 0 0 2rem 0;
        }
        .txt100horas-fTR {
          font-size: 3.2rem;
          line-height: 1.40625;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          align-items: center;
          border: solid 0.1rem #000000;
          width: 38.4rem;
          position: absolute;
          left: 80.6rem;
          top: 28.7rem;
          color: #000000;
          justify-content: center;
          height: 15.3rem;
          box-sizing: border-box;
          font-weight: 300;
        }
        .txt100horas-7qD {
          border: solid 0.1rem #000000;
          top: 13.4rem;
          font-weight: 300;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          position: absolute;
          font-size: 3.2rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 38.4rem;
          height: 15.3rem;
          color: #000000;
          justify-content: center;
          left: 80.6rem;
          line-height: 1.40625;
        }
        .txt100horas-B4P {
          height: 13.4rem;
          left: 80.6rem;
          font-weight: 300;
          width: 38.4rem;
          top: 0;
          font-size: 3.2rem;
          line-height: 1.40625;
          color: #000000;
          white-space: nowrap;
          font-family: Inter, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          border: solid 0.1rem #000000;
          position: absolute;
          display: flex;
          box-sizing: border-box;
        }
        .txtuc1-fET {
          padding: 4.7rem 4.9rem 4.3rem 4.9rem;
          height: 13.5rem;
          font-weight: 300;
          line-height: 1.40625;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          position: absolute;
          top: 0;
          color: #000000;
          left: 0;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 80.6rem;
          font-size: 3.2rem;
        }
        .txtuc2-gfM {
          height: 15.3rem;
          position: absolute;
          left: 0;
          top: 13.5rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          padding: 3.1rem 5.5rem 3.2rem 5.2rem;
          width: 80.6rem;

          .txtuc2-CNo {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            max-width: 69.9rem;
            font-size: 3.2rem;
            font-weight: 300;
            line-height: 1.40625;
          }
        }
        .txtuc3-6W7 {
          left: 0;
          top: 28.8rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          padding: 3.7rem 5.094rem 2.6rem 4.806rem;
          width: 80.7rem;
          height: 15.3rem;
          position: absolute;

          .txtuc3-1d5 {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            max-width: 70.8rem;
            font-size: 3.2rem;
            font-weight: 300;
            line-height: 1.40625;
          }
        }
        .txtuc4-8xb {
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          width: 80.7rem;
          height: 19.7rem;
          position: absolute;
          top: 44.1rem;
          padding: 5.89rem 4.9rem 4.81rem 4.9rem;
          left: 0;
          border-radius: 0 0 0 2rem;

          .txtuc4-TV5 {
            line-height: 1.40625;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            max-width: 65.8rem;
            font-size: 3.2rem;
            font-weight: 300;
          }
        }
      }
    }
    .oferta-2-MKZ {
      border: solid 0.2rem #ffffff;
      border-radius: 2rem;
      box-sizing: border-box;
      padding: 9.262rem 6.2rem 8.338rem 6.7rem;
      display: flex;
      align-items: center;
      background-color: #861515;
      flex-shrink: 0;
      margin-bottom: 4.1rem;
      width: 100%;

      .txtoferta2-5FZ {
        font-weight: 700;
        line-height: 1.2175;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 7rem;
        font-size: 3.5rem;
      }
      .imgiconseta-bzb {
        margin-bottom: 1.0248rem;
        width: 3.7rem;
        height: 2.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .oferta-3-5es {
      display: flex;
      align-items: center;
      border: solid 0.2rem #ffffff;
      background-color: #861515;
      flex-shrink: 0;
      box-sizing: border-box;
      width: 100%;
      border-radius: 2rem;
      padding: 9.262rem 6.2rem 8.338rem 6.7rem;

      .txtoferta3-CzP {
        line-height: 1.2175;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 7rem;
        font-size: 3.5rem;
        font-weight: 700;
      }
      .imgiconseta-jzK {
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 1.0248rem;
        width: 3.7rem;
        height: 2.2rem;
        object-fit: contain;
      }
    }
  }
  .btneditais-r3M {
    display: flex;
    align-items: center;
    background-color: #8b1a1a;
    height: 6.2rem;
    font-weight: 300;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    border-radius: 4.5rem;
    width: 27.8rem;
    justify-content: center;
    position: absolute;
    left: 58.1rem;
    top: 93.7rem;
    font-size: 2.5rem;
    line-height: 1.8;
    white-space: nowrap;
  }
  .efeito-Jvw {
    width: 53.85rem;
    height: 77.7065rem;
    position: absolute;
    left: 0;
    top: 290.4rem;
    object-fit: contain;
    vertical-align: top;
  }
  .imgefeitobloco-3Nj {
    top: 218.7rem;
    object-fit: contain;
    vertical-align: top;
    width: 127.72rem;
    height: 103.988rem;
    position: absolute;
    left: 8rem;
  }
  .imgefeitobloco-mZd {
    vertical-align: top;
    width: 125.4rem;
    height: 104.4001rem;
    position: absolute;
    left: 0;
    top: 15.1999rem;
    object-fit: contain;
  }
  .imgespada-Wn7 {
    width: 20.8rem;
    height: 20.8rem;
    position: absolute;
    left: 90.9rem;
    top: 82.2rem;

    .rectangle-219-q3h {
      position: absolute;
      left: 17.0182rem;
      top: 0;
      background-color: rgba(0, 0, 0, 0.3000000119);
      width: 3.7818rem;
      height: 0.9455rem;
    }
    .auto-group-mn4t-ZEb {
      top: 0.9455rem;
      display: flex;
      align-items: center;
      width: 6.6182rem;
      height: 2.8364rem;
      position: absolute;
      left: 14.1818rem;

      .auto-group-8jks-5yd {
        align-items: flex-end;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-right: 0rem;
        height: 100%;
        display: flex;
        column-gap: 0rem;

        .rectangle-223-oej {
          margin-bottom: 0rem;
          width: 0.9455rem;
          height: 0.9455rem;
          background-color: rgba(0, 0, 0, 0.3000000119);
          flex-shrink: 0;
        }
        .auto-group-ayo9-YMR {
          margin-bottom: 0rem;
          width: 1.8909rem;
          height: calc(100% - 0rem);
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-uuzo-HK1 {
            margin-bottom: 0rem;
            width: 100%;
            height: 1.8909rem;
            position: relative;
            flex-shrink: 0;

            .rectangle-221-QPd {
              left: 0.9454rem;
              top: 0;
              background-color: rgba(0, 0, 0, 0.3000000119);
              width: 0.9455rem;
              height: 0.9455rem;
              position: absolute;
            }
            .rectangle-222-i9R {
              background-color: rgba(0, 0, 0, 0.3000000119);
              width: 0.9455rem;
              height: 0.9455rem;
              position: absolute;
              left: 0;
              top: 0.9454rem;
            }
            .rectangle-296-3xP {
              position: absolute;
              left: 0.9454rem;
              top: 0.9454rem;
              background-color: rgba(255, 255, 255, 0.3000000119);
              width: 0.9455rem;
              height: 0.9455rem;
            }
          }
          .auto-group-8pys-Nzf {
            width: 100%;
            height: 0.9455rem;
            position: relative;
            flex-shrink: 0;

            .rectangle-308-LAo {
              height: 0.9455rem;
              position: absolute;
              left: 0.9454rem;
              top: 0;
              background-color: rgba(187, 187, 187, 0.3000000119);
              width: 0.9455rem;
            }
            .rectangle-295-TWK {
              width: 0.9455rem;
              height: 0.9455rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: rgba(255, 255, 255, 0.3000000119);
            }
          }
        }
        .auto-group-j7xy-bsR {
          width: 1.8909rem;
          height: calc(100% - 0rem);
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 0rem;

          .auto-group-pczx-98F {
            margin-bottom: 0rem;
            width: 100%;
            height: 1.8909rem;
            position: relative;
            flex-shrink: 0;

            .rectangle-322-g8B {
              height: 0.9455rem;
              position: absolute;
              left: 0.9454rem;
              top: 0.9454rem;
              background-color: rgba(112, 113, 115, 0.6999999881);
              width: 0.9455rem;
            }
            .rectangle-309-BKq {
              position: absolute;
              left: 0;
              top: 0.9454rem;
              background-color: rgba(187, 187, 187, 0.3000000119);
              width: 0.9455rem;
              height: 0.9455rem;
            }
            .rectangle-310-vHR {
              width: 0.9455rem;
              height: 0.9455rem;
              position: absolute;
              left: 0.9454rem;
              top: 0;
              background-color: rgba(187, 187, 187, 0.3000000119);
            }
            .rectangle-297-4Pd {
              left: 0;
              top: 0;
              background-color: rgba(255, 255, 255, 0.3000000119);
              width: 0.9455rem;
              height: 0.9455rem;
              position: absolute;
            }
          }
          .auto-group-fmx7-Ckj {
            width: 100%;
            height: 0.9455rem;
            position: relative;
            flex-shrink: 0;

            .rectangle-335-kGT {
              width: 0.9455rem;
              height: 0.9455rem;
              position: absolute;
              left: 0.9454rem;
              top: 0;
              background-color: rgba(106, 111, 120, 0.3000000119);
            }
            .rectangle-321-t7m {
              height: 0.9455rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: rgba(112, 113, 115, 0.6999999881);
              width: 0.9455rem;
            }
          }
        }
        .auto-group-xtet-2Dy {
          flex-shrink: 0;
          margin-bottom: 0rem;
          width: 0.9455rem;
          height: calc(100% - 0rem);
          align-items: center;
          display: flex;
          flex-direction: column;

          .auto-group-9bbz-xtK {
            flex-shrink: 0;
            margin-bottom: 0rem;
            width: 100%;
            height: 1.8909rem;
            position: relative;

            .rectangle-336-vKM {
              top: 0.9454rem;
              background-color: rgba(106, 111, 120, 0.3000000119);
              width: 0.9455rem;
              height: 0.9455rem;
              position: absolute;
              left: 0;
            }
            .rectangle-323-G8K {
              height: 0.9455rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: rgba(112, 113, 115, 0.6999999881);
              width: 0.9455rem;
            }
          }
          .rectangle-348-zKD {
            width: 100%;
            height: 0.9455rem;
            background-color: rgba(86, 92, 104, 0.3000000119);
            flex-shrink: 0;
          }
        }
      }
      .rectangle-220-hjR {
        width: 0.9455rem;
        height: 2.8364rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        flex-shrink: 0;
      }
    }
    .auto-group-9pjt-2Fu {
      left: 12.2909rem;
      top: 3.7818rem;
      display: flex;
      column-gap: 0rem;
      align-items: center;
      width: 7.5636rem;
      height: 1.8909rem;
      position: absolute;

      .rectangle-225-YEF {
        height: 0.9455rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        flex-shrink: 0;
        margin-top: 0.9454rem;
        width: 0.9455rem;
      }
      .auto-group-teyh-snK {
        flex-shrink: 0;
        width: 1.8909rem;
        height: 100%;
        position: relative;

        .rectangle-224-2QK {
          height: 0.9455rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: rgba(0, 0, 0, 0.3000000119);
          width: 0.9455rem;
        }
        .rectangle-306-NUB {
          height: 0.9455rem;
          position: absolute;
          left: 0.9454rem;
          top: 0.9454rem;
          background-color: rgba(187, 187, 187, 0.3000000119);
          width: 0.9455rem;
        }
        .rectangle-293-hFZ {
          left: 0;
          top: 0.9454rem;
          background-color: rgba(255, 255, 255, 0.3000000119);
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
        }
        .rectangle-294-Qfm {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0.9454rem;
          top: 0;
          background-color: rgba(255, 255, 255, 0.3000000119);
        }
      }
      .auto-group-4xpv-K23 {
        width: 1.8909rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-333-rnf {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0.9454rem;
          top: 0.9454rem;
          background-color: rgba(106, 111, 120, 0.3000000119);
        }
        .rectangle-319-z8B {
          top: 0.9454rem;
          background-color: rgba(112, 113, 115, 0.6999999881);
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0;
        }
        .rectangle-320-vXd {
          left: 0.9454rem;
          top: 0;
          background-color: rgba(112, 113, 115, 0.6999999881);
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
        }
        .rectangle-307-SVy {
          position: absolute;
          left: 0;
          top: 0;
          background-color: rgba(187, 187, 187, 0.3000000119);
          width: 0.9455rem;
          height: 0.9455rem;
        }
      }
      .auto-group-cv8x-as5 {
        width: 1.8909rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-346-vvw {
          left: 0;
          top: 0.9454rem;
          background-color: rgba(86, 92, 104, 0.3000000119);
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
        }
        .rectangle-347-SuH {
          position: absolute;
          left: 0.9454rem;
          top: 0;
          background-color: rgba(86, 92, 104, 0.3000000119);
          width: 0.9455rem;
          height: 0.9455rem;
        }
        .rectangle-334-P3q {
          background-color: rgba(106, 111, 120, 0.3000000119);
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .rectangle-233-vpT {
          position: absolute;
          left: 0.9454rem;
          top: 0.9454rem;
          background-color: rgba(0, 0, 0, 0.3000000119);
          width: 0.9455rem;
          height: 0.9455rem;
        }
      }
      .rectangle-232-GNX {
        background-color: rgba(0, 0, 0, 0.3000000119);
        flex-shrink: 0;
        margin-bottom: 0.9454rem;
        width: 0.9455rem;
        height: 0.9455rem;
      }
    }
    .auto-group-xtjz-cBV {
      column-gap: 0rem;
      align-items: flex-start;
      width: 7.5636rem;
      height: 1.8909rem;
      position: absolute;
      left: 10.4rem;
      top: 5.6727rem;
      display: flex;

      .auto-group-jwyf-8Qj {
        flex-shrink: 0;
        width: 2.8364rem;
        height: 100%;
        position: relative;

        .rectangle-226-HHd {
          left: 0.9455rem;
          top: 0;
          background-color: rgba(0, 0, 0, 0.3000000119);
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
        }
        .rectangle-227-cKu {
          position: absolute;
          left: 0;
          top: 0.9454rem;
          background-color: rgba(0, 0, 0, 0.3000000119);
          width: 0.9455rem;
          height: 0.9455rem;
        }
        .rectangle-304-8JF {
          top: 0.9454rem;
          background-color: rgba(187, 187, 187, 0.3000000119);
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 1.8909rem;
        }
        .rectangle-291-4hh {
          position: absolute;
          left: 0.9455rem;
          top: 0.9454rem;
          background-color: rgba(255, 255, 255, 0.3000000119);
          width: 0.9455rem;
          height: 0.9455rem;
        }
        .rectangle-292-bhd {
          height: 0.9455rem;
          position: absolute;
          left: 1.8909rem;
          top: 0;
          background-color: rgba(255, 255, 255, 0.3000000119);
          width: 0.9455rem;
        }
      }
      .auto-group-pr9r-8hZ {
        width: 1.8909rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-331-HKZ {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0.9454rem;
          top: 0.9454rem;
          background-color: rgba(106, 111, 120, 0.3000000119);
        }
        .rectangle-317-2H9 {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0;
          top: 0.9454rem;
          background-color: rgba(112, 113, 115, 0.6999999881);
        }
        .rectangle-318-YWP {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0.9454rem;
          top: 0;
          background-color: rgba(112, 113, 115, 0.6999999881);
        }
        .rectangle-305-5mD {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: rgba(187, 187, 187, 0.3000000119);
        }
      }
      .auto-group-yye3-2gT {
        width: 1.8909rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-344-P1D {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0;
          top: 0.9454rem;
          background-color: rgba(86, 92, 104, 0.3000000119);
        }
        .rectangle-345-ipB {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0.9454rem;
          top: 0;
          background-color: rgba(86, 92, 104, 0.3000000119);
        }
        .rectangle-332-GKu {
          top: 0;
          background-color: rgba(106, 111, 120, 0.3000000119);
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0;
        }
        .rectangle-235-Bhm {
          background-color: rgba(0, 0, 0, 0.3000000119);
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0.9454rem;
          top: 0.9454rem;
        }
      }
      .rectangle-234-uNs {
        width: 0.9455rem;
        height: 0.9455rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        flex-shrink: 0;
      }
    }
    .auto-group-2mqo-T9V {
      width: 6.6182rem;
      height: 0.9455rem;
      position: absolute;
      left: 9.4545rem;
      top: 7.5636rem;
      display: flex;
      column-gap: 0rem;
      align-items: center;

      .auto-group-7iut-Apb {
        flex-shrink: 0;
        width: 3.7818rem;
        height: 100%;
        position: relative;

        .rectangle-228-vYs {
          height: 0.9455rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: rgba(0, 0, 0, 0.3000000119);
          width: 0.9455rem;
        }
        .rectangle-316-5Rm {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 2.8364rem;
          top: 0;
          background-color: rgba(112, 113, 115, 0.6999999881);
        }
        .rectangle-303-267 {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 1.8909rem;
          top: 0;
          background-color: rgba(187, 187, 187, 0.3000000119);
        }
        .rectangle-290-ZLw {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0.9455rem;
          top: 0;
          background-color: rgba(255, 255, 255, 0.3000000119);
        }
      }
      .auto-group-a3md-s6j {
        width: 1.8909rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-343-DwH {
          top: 0;
          background-color: rgba(86, 92, 104, 0.3000000119);
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0.9454rem;
        }
        .rectangle-330-N3V {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: rgba(106, 111, 120, 0.3000000119);
        }
      }
      .rectangle-236-5yV {
        width: 0.9455rem;
        height: 0.9455rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        flex-shrink: 0;
      }
    }
    .auto-group-7txm-qSs {
      display: flex;
      column-gap: 0rem;
      align-items: flex-end;
      width: 7.5636rem;
      height: 1.8909rem;
      position: absolute;
      left: 7.5636rem;
      top: 8.5091rem;

      .rectangle-230-NBu {
        flex-shrink: 0;
        width: 0.9455rem;
        height: 0.9455rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
      }
      .auto-group-5bpy-uxX {
        flex-shrink: 0;
        width: 4.7273rem;
        height: 100%;
        position: relative;

        .rectangle-229-339 {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: rgba(0, 0, 0, 0.3000000119);
        }
        .rectangle-341-nWX {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 3.7818rem;
          top: 0.9454rem;
          background-color: rgba(86, 92, 104, 0.3000000119);
        }
        .rectangle-328-7oh {
          top: 0.9454rem;
          background-color: rgba(106, 111, 120, 0.3000000119);
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 2.8364rem;
        }
        .rectangle-329-4D9 {
          background-color: rgba(106, 111, 120, 0.3000000119);
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 3.7818rem;
          top: 0;
        }
        .rectangle-314-oRd {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 1.8909rem;
          top: 0.9454rem;
          background-color: rgba(112, 113, 115, 0.6999999881);
        }
        .rectangle-315-Y8K {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 2.8364rem;
          top: 0;
          background-color: rgba(112, 113, 115, 0.6999999881);
        }
        .rectangle-301-V3Z {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0.9455rem;
          top: 0.9454rem;
          background-color: rgba(187, 187, 187, 0.3000000119);
        }
        .rectangle-302-zm1 {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 1.8909rem;
          top: 0;
          background-color: rgba(187, 187, 187, 0.3000000119);
        }
        .rectangle-288-usy {
          top: 0.9454rem;
          background-color: rgba(255, 255, 255, 0.3000000119);
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0;
        }
        .rectangle-289-eKm {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0.9455rem;
          top: 0;
          background-color: rgba(255, 255, 255, 0.3000000119);
        }
      }
      .auto-group-yqzk-PHM {
        width: 1.8909rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-342-LyH {
          background-color: rgba(86, 92, 104, 0.3000000119);
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .rectangle-237-J9R {
          top: 0;
          background-color: rgba(0, 0, 0, 0.3000000119);
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0.9454rem;
        }
        .rectangle-238-3Mu {
          position: absolute;
          left: 0;
          top: 0.9454rem;
          background-color: rgba(0, 0, 0, 0.3000000119);
          width: 0.9455rem;
          height: 0.9455rem;
        }
      }
    }
    .auto-group-xfo9-Z5M {
      width: 9.4545rem;
      height: 0.9455rem;
      position: absolute;
      left: 3.7818rem;
      top: 10.4rem;
      display: flex;
      align-items: center;

      .rectangle-258-gvf {
        height: 0.9455rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        flex-shrink: 0;
        margin-right: 1.8909rem;
        width: 0.9455rem;
      }
      .auto-group-4ef5-db1 {
        margin-right: 0rem;
        width: 1.8909rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-231-PKH {
          height: 0.9455rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: rgba(0, 0, 0, 0.3000000119);
          width: 0.9455rem;
        }
        .rectangle-287-LEX {
          position: absolute;
          left: 0.9454rem;
          top: 0;
          background-color: rgba(255, 255, 255, 0.3000000119);
          width: 0.9455rem;
          height: 0.9455rem;
        }
      }
      .auto-group-tz8t-eW7 {
        position: relative;
        flex-shrink: 0;
        width: 4.7273rem;
        height: 100%;

        .rectangle-340-z4B {
          top: 0;
          background-color: rgba(86, 92, 104, 0.3000000119);
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 2.8364rem;
        }
        .rectangle-327-t9Z {
          background-color: rgba(106, 111, 120, 0.3000000119);
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 1.8909rem;
          top: 0;
        }
        .rectangle-313-2Fm {
          background-color: rgba(112, 113, 115, 0.6999999881);
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0.9455rem;
          top: 0;
        }
        .rectangle-300-ZWb {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: rgba(187, 187, 187, 0.3000000119);
        }
        .rectangle-239-uqM {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 3.7818rem;
          top: 0;
          background-color: rgba(0, 0, 0, 0.3000000119);
        }
      }
    }
    .auto-group-cnuh-FeK {
      width: 9.4545rem;
      height: 1.8909rem;
      position: absolute;
      left: 2.8364rem;
      top: 11.3455rem;
      display: flex;
      column-gap: 0rem;
      align-items: center;

      .auto-group-5kcf-yqD {
        width: 1.8909rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-256-wGF {
          position: absolute;
          left: 0.9454rem;
          top: 0.9454rem;
          background-color: rgba(0, 0, 0, 0.3000000119);
          width: 0.9455rem;
          height: 0.9455rem;
        }
        .rectangle-257-TVV {
          height: 0.9455rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: rgba(0, 0, 0, 0.3000000119);
          width: 0.9455rem;
        }
        .rectangle-259-11D {
          background-color: #edebc2;
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0.9454rem;
          top: 0;
        }
      }
      .auto-group-udj9-YWw {
        position: relative;
        flex-shrink: 0;
        width: 1.8909rem;
        height: 100%;

        .rectangle-243-g7M {
          top: 0;
          background-color: rgba(0, 0, 0, 0.3000000119);
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0.9454rem;
        }
        .rectangle-246-cWo {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: rgba(0, 0, 0, 0.3000000119);
        }
        .rectangle-245-ZB9 {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0.9454rem;
          top: 0.9454rem;
          background-color: rgba(0, 0, 0, 0.3000000119);
        }
        .rectangle-260-tz7 {
          height: 0.9455rem;
          position: absolute;
          left: 0;
          top: 0.9454rem;
          background-color: #edebc2;
          width: 0.9455rem;
        }
      }
      .auto-group-19bh-pcs {
        position: relative;
        flex-shrink: 0;
        width: 1.8909rem;
        height: 100%;

        .rectangle-286-N8b {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: rgba(255, 255, 255, 0.3000000119);
        }
        .rectangle-298-t6w {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0;
          top: 0.9454rem;
          background-color: rgba(187, 187, 187, 0.3000000119);
        }
        .rectangle-311-c2w {
          background-color: rgba(112, 113, 115, 0.6999999881);
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0.9454rem;
          top: 0.9454rem;
        }
        .rectangle-299-YBV {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0.9454rem;
          top: 0;
          background-color: rgba(187, 187, 187, 0.3000000119);
        }
      }
      .auto-group-1sgb-5hD {
        width: 3.7818rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-338-2sM {
          left: 0.9455rem;
          top: 0.9454rem;
          background-color: rgba(86, 92, 104, 0.3000000119);
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
        }
        .rectangle-339-vxj {
          position: absolute;
          left: 1.8909rem;
          top: 0;
          background-color: rgba(86, 92, 104, 0.3000000119);
          width: 0.9455rem;
          height: 0.9455rem;
        }
        .rectangle-325-5Kq {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0;
          top: 0.9454rem;
          background-color: rgba(106, 111, 120, 0.3000000119);
        }
        .rectangle-326-pHR {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0.9455rem;
          top: 0;
          background-color: rgba(106, 111, 120, 0.3000000119);
        }
        .rectangle-312-x8j {
          background-color: rgba(112, 113, 115, 0.6999999881);
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .rectangle-240-VPZ {
          height: 0.9455rem;
          position: absolute;
          left: 2.8364rem;
          top: 0;
          background-color: rgba(0, 0, 0, 0.3000000119);
          width: 0.9455rem;
        }
        .rectangle-241-qTR {
          background-color: rgba(0, 0, 0, 0.3000000119);
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 1.8909rem;
          top: 0.9454rem;
        }
      }
    }
    .auto-group-99ux-m6B {
      position: absolute;
      left: 4.7273rem;
      top: 13.2364rem;
      display: flex;
      column-gap: 0rem;
      align-items: center;
      width: 5.6727rem;
      height: 1.8909rem;

      .auto-group-v9sq-fST {
        position: relative;
        flex-shrink: 0;
        width: 1.8909rem;
        height: 100%;

        .rectangle-254-csV {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0.9454rem;
          top: 0.9454rem;
          background-color: rgba(0, 0, 0, 0.3000000119);
        }
        .rectangle-255-xgT {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: rgba(0, 0, 0, 0.3000000119);
        }
        .rectangle-265-he3 {
          top: 0.9454rem;
          background-color: rgba(0, 0, 0, 0.3000000119);
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0;
        }
        .rectangle-261-SrX {
          height: 0.9455rem;
          position: absolute;
          left: 0.9454rem;
          top: 0;
          background-color: rgba(224, 220, 130, 0.4600000083);
          width: 0.9455rem;
        }
      }
      .auto-group-q5wb-MyV {
        flex-shrink: 0;
        width: 1.8909rem;
        height: 100%;
        position: relative;

        .rectangle-324-iJF {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0.9454rem;
          top: 0;
          background-color: rgba(106, 111, 120, 0.3000000119);
        }
        .rectangle-249-dRD {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: rgba(0, 0, 0, 0.3000000119);
        }
        .rectangle-247-xyH {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0.9454rem;
          top: 0.9454rem;
          background-color: rgba(0, 0, 0, 0.3000000119);
        }
        .rectangle-262-uNj {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0;
          top: 0.9454rem;
          background-color: rgba(180, 152, 82, 0.3000000119);
        }
      }
      .auto-group-xcfd-SNf {
        width: 1.8909rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-337-bWT {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: rgba(86, 92, 104, 0.3000000119);
        }
        .rectangle-244-7Du {
          background-color: rgba(0, 0, 0, 0.3000000119);
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0;
          top: 0.9454rem;
        }
        .rectangle-242-rBV {
          left: 0.9455rem;
          top: 0;
          background-color: rgba(0, 0, 0, 0.3000000119);
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
        }
      }
    }
    .auto-group-xei7-M8F {
      height: 0.9455rem;
      position: absolute;
      left: 3.7818rem;
      top: 15.1273rem;
      display: flex;
      column-gap: 0rem;
      align-items: center;
      width: 5.6727rem;

      .rectangle-270-sMV {
        height: 0.9455rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        flex-shrink: 0;
        width: 0.9455rem;
      }
      .auto-group-z7bh-Pqd {
        height: 100%;
        position: relative;
        flex-shrink: 0;
        width: 1.8909rem;

        .rectangle-266-YyR {
          height: 0.9455rem;
          position: absolute;
          left: 0.9454rem;
          top: 0;
          background-color: rgba(0, 0, 0, 0.3000000119);
          width: 0.9455rem;
        }
        .rectangle-285-Vdm {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: rgba(71, 8, 8, 0.3000000119);
        }
      }
      .auto-group-uubm-dEB {
        height: 100%;
        position: relative;
        flex-shrink: 0;
        width: 1.8909rem;

        .rectangle-253-afD {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: rgba(0, 0, 0, 0.3000000119);
        }
        .rectangle-263-hzj {
          position: absolute;
          left: 0.9454rem;
          top: 0;
          background-color: rgba(180, 152, 82, 0.3000000119);
          width: 0.9455rem;
          height: 0.9455rem;
        }
      }
      .rectangle-248-r6w {
        width: 0.9455rem;
        height: 0.9455rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        flex-shrink: 0;
      }
    }
    .auto-group-pzib-bKR {
      height: 0.9455rem;
      position: absolute;
      left: 2.8364rem;
      top: 16.0727rem;
      display: flex;
      align-items: center;
      width: 7.5636rem;

      .auto-group-mrvu-iew {
        margin-right: 0rem;
        width: 1.8909rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-269-4Tu {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: rgba(0, 0, 0, 0.3000000119);
        }
        .rectangle-284-oRV {
          height: 0.9455rem;
          position: absolute;
          left: 0.9454rem;
          top: 0;
          background-color: rgba(71, 8, 8, 0.3000000119);
          width: 0.9455rem;
        }
      }
      .rectangle-267-LRR {
        height: 0.9455rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        flex-shrink: 0;
        margin-right: 1.8909rem;
        width: 0.9455rem;
      }
      .rectangle-252-ctj {
        width: 0.9455rem;
        height: 0.9455rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        flex-shrink: 0;
        margin-right: 0rem;
      }
      .auto-group-aa7u-AQT {
        width: 1.8909rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-250-v8j {
          position: absolute;
          left: 0.9455rem;
          top: 0;
          background-color: rgba(0, 0, 0, 0.3000000119);
          width: 0.9455rem;
          height: 0.9455rem;
        }
        .rectangle-264-3z3 {
          position: absolute;
          left: 0;
          top: 0;
          background-color: rgba(180, 152, 82, 0.3000000119);
          width: 0.9455rem;
          height: 0.9455rem;
        }
      }
    }
    .auto-group-ntsb-ngj {
      display: flex;
      align-items: flex-start;
      width: 9.4545rem;
      height: 1.8909rem;
      position: absolute;
      left: 0;
      top: 17.0182rem;

      .auto-group-whaj-XeK {
        margin-right: 0rem;
        width: 2.8364rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-271-UJf {
          height: 0.9455rem;
          position: absolute;
          left: 1.8909rem;
          top: 0;
          background-color: rgba(0, 0, 0, 0.3000000119);
          width: 0.9455rem;
        }
        .rectangle-274-CEf {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0.9455rem;
          top: 0;
          background-color: rgba(0, 0, 0, 0.3000000119);
        }
        .rectangle-275-jVV {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0;
          top: 0.9454rem;
          background-color: rgba(0, 0, 0, 0.3000000119);
        }
        .rectangle-279-UT5 {
          top: 0.9454rem;
          background-color: rgba(152, 40, 40, 0.3000000119);
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0.9455rem;
        }
        .rectangle-282-1hu {
          left: 1.8909rem;
          top: 0.9454rem;
          background-color: rgba(138, 9, 9, 0.3000000119);
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
        }
      }
      .auto-group-nc2o-WPm {
        margin-right: 3.7818rem;
        width: 1.8909rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-268-TK1 {
          top: 0;
          background-color: rgba(0, 0, 0, 0.3000000119);
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0.9454rem;
        }
        .rectangle-272-CXV {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0;
          top: 0.9454rem;
          background-color: rgba(0, 0, 0, 0.3000000119);
        }
        .rectangle-283-uwh {
          top: 0;
          background-color: rgba(71, 8, 8, 0.3000000119);
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0;
        }
      }
      .rectangle-251-rrw {
        width: 0.9455rem;
        height: 0.9455rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        flex-shrink: 0;
      }
    }
    .auto-group-nnbv-DBh {
      position: absolute;
      left: 0;
      top: 18.9091rem;
      display: flex;
      align-items: flex-start;
      width: 3.7818rem;
      height: 1.8909rem;

      .auto-group-nybh-M31 {
        flex-shrink: 0;
        margin-right: 0rem;
        width: 2.8364rem;
        height: 100%;
        position: relative;

        .rectangle-277-gqy {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 1.8909rem;
          top: 0.9454rem;
          background-color: rgba(0, 0, 0, 0.3000000119);
        }
        .rectangle-278-RYf {
          height: 0.9455rem;
          position: absolute;
          left: 0.9455rem;
          top: 0.9454rem;
          background-color: rgba(0, 0, 0, 0.3000000119);
          width: 0.9455rem;
        }
        .rectangle-276-AWF {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: rgba(0, 0, 0, 0.3000000119);
        }
        .rectangle-281-hWB {
          width: 0.9455rem;
          height: 0.9455rem;
          position: absolute;
          left: 1.8909rem;
          top: 0;
          background-color: rgba(139, 26, 26, 0.3000000119);
        }
        .rectangle-280-3a3 {
          position: absolute;
          left: 0.9455rem;
          top: 0;
          background-color: rgba(138, 9, 9, 0.3000000119);
          width: 0.9455rem;
          height: 0.9455rem;
        }
      }
      .rectangle-273-Mqd {
        width: 0.9455rem;
        height: 0.9455rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        flex-shrink: 0;
      }
    }
  }
}
